---
openapi: 3.1.0
info:
  title: ALGOPACK
  summary:
    Уникальные данные и сигналы для торговли, доступные через API.
  description: ISS Datashop AlgoPack
  contact:
    url: https://data.moex.com/directory
    email: algopack@moex.com
  version: 1.0.0
servers:
  - url: https://iss.moex.com
  
paths:
  "/eq/tradestats.{format}":
    get:
      tags:
      - EQ | Stocks
      summary: Eq Tradestats
      description: Получить статистику сделок для акций.
      operationId: eq_tradestats_eq_tradestats__format__get
      security:
      - HTTPBasic: []
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          description: Формат ответа (json, html, xml, csv)
          title: Format
        description: Формат ответа (json, html, xml, csv)
      - name: date
        in: query
        required: false
        schema:
          type: string
          description: Дата в формате YYYY-MM-DD
          default: '2024-04-15'
          title: Date
        description: Дата в формате YYYY-MM-DD
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TradeStatsDataResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
  "/eq/tradestats/{sec_id}.{format}":
    get:
      tags:
      - EQ | Stocks
      summary: Eq Tradestats Secid
      description: Получить статистику сделок для ценной бумаги.
      operationId: eq_tradestats_secid_eq_tradestats__sec_id___format__get
      security:
      - HTTPBasic: []
      parameters:
      - name: sec_id
        in: path
        required: true
        schema:
          type: string
          description: Идентификатор ценной бумаги
          title: Sec Id
        description: Идентификатор ценной бумаги
      - name: format
        in: path
        required: true
        schema:
          type: string
          description: Формат ответа (json, html, xml, csv)
          title: Format
        description: Формат ответа (json, html, xml, csv)
      - name: from_date
        in: query
        required: false
        schema:
          type: string
          description: Дата начала периода в формате YYYY-MM-DD
          default: '2024-04-15'
          title: From Date
        description: Дата начала периода в формате YYYY-MM-DD
      - name: till_date
        in: query
        required: false
        schema:
          type: string
          description: Дата конца периода в формате YYYY-MM-DD
          default: '2024-04-15'
          title: Till Date
        description: Дата конца периода в формате YYYY-MM-DD
      - name: start
        in: query
        required: false
        schema:
          type: integer
          description: Оффсет
          default: 0
          title: Start
        description: Оффсет
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TradeStatsDataResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
  "/eq/orderstats.{format}":
    get:
      tags:
      - EQ | Stocks
      summary: Eq Orderstats
      description: Получить статистику ордеров для акций.
      operationId: eq_orderstats_eq_orderstats__format__get
      security:
      - HTTPBasic: []
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          description: Формат ответа (json, html, xml, csv)
          title: Format
        description: Формат ответа (json, html, xml, csv)
      - name: date
        in: query
        required: false
        schema:
          type: string
          description: Дата в формате YYYY-MM-DD
          default: '2024-04-15'
          title: Date
        description: Дата в формате YYYY-MM-DD
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrderStatsDataResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
  "/eq/orderstats/{sec_id}.{format}":
    get:
      tags:
      - EQ | Stocks
      summary: Eq Orderstats Secid
      description: Получить статистику ордеров для ценной бумаги.
      operationId: eq_orderstats_secid_eq_orderstats__sec_id___format__get
      security:
      - HTTPBasic: []
      parameters:
      - name: sec_id
        in: path
        required: true
        schema:
          type: string
          description: Идентификатор ценной бумаги
          title: Sec Id
        description: Идентификатор ценной бумаги
      - name: format
        in: path
        required: true
        schema:
          type: string
          description: Формат ответа (json, html, xml, csv)
          title: Format
        description: Формат ответа (json, html, xml, csv)
      - name: from_date
        in: query
        required: false
        schema:
          type: string
          description: Дата начала периода в формате YYYY-MM-DD
          default: '2024-04-15'
          title: From Date
        description: Дата начала периода в формате YYYY-MM-DD
      - name: till_date
        in: query
        required: false
        schema:
          type: string
          description: Дата конца периода в формате YYYY-MM-DD
          default: '2024-04-15'
          title: Till Date
        description: Дата конца периода в формате YYYY-MM-DD
      - name: start
        in: query
        required: false
        schema:
          type: integer
          description: Оффсет
          default: 0
          title: Start
        description: Оффсет
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrderStatsDataResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
  "/eq/obstats.{format}":
    get:
      tags:
      - EQ | Stocks
      summary: Eq Obstats
      description: Получить статистику стакана для акций.
      operationId: eq_obstats_eq_obstats__format__get
      security:
      - HTTPBasic: []
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          description: Формат ответа (json, html, xml, csv)
          title: Format
        description: Формат ответа (json, html, xml, csv)
      - name: date
        in: query
        required: false
        schema:
          type: string
          description: Дата в формате YYYY-MM-DD
          default: '2024-04-15'
          title: Date
        description: Дата в формате YYYY-MM-DD
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ObstatsDataResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
  "/eq/obstats/{sec_id}.{format}":
    get:
      tags:
      - EQ | Stocks
      summary: Eq Obstats Secid
      description: Получить статистику стакана для ценной бумаги.
      operationId: eq_obstats_secid_eq_obstats__sec_id___format__get
      security:
      - HTTPBasic: []
      parameters:
      - name: sec_id
        in: path
        required: true
        schema:
          type: string
          description: Идентификатор ценной бумаги
          title: Sec Id
        description: Идентификатор ценной бумаги
      - name: format
        in: path
        required: true
        schema:
          type: string
          description: Формат ответа (json, html, xml, csv)
          title: Format
        description: Формат ответа (json, html, xml, csv)
      - name: from_date
        in: query
        required: false
        schema:
          type: string
          description: Дата начала периода в формате YYYY-MM-DD
          default: '2024-04-15'
          title: From Date
        description: Дата начала периода в формате YYYY-MM-DD
      - name: till_date
        in: query
        required: false
        schema:
          type: string
          description: Дата конца периода в формате YYYY-MM-DD
          default: '2024-04-15'
          title: Till Date
        description: Дата конца периода в формате YYYY-MM-DD
      - name: start
        in: query
        required: false
        schema:
          type: integer
          description: Оффсет
          default: 0
          title: Start
        description: Оффсет
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ObstatsDataResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            "$ref": "#/components/schemas/ValidationError"
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ObstatsDataCursor:
      properties:
        INDEX:
          type: integer
          title: Index
          description: Индекс курсора
        TOTAL:
          type: integer
          title: Total
          description: Общее количество
        PAGESIZE:
          type: integer
          title: Pagesize
          description: Размер страницы
      type: object
      required:
      - INDEX
      - TOTAL
      - PAGESIZE
      title: ObstatsDataCursor
    ObstatsDataDates:
      properties:
        from_:
          type: string
          format: date
          title: 'From '
          description: Дата начала периода
        till:
          type: string
          format: date
          title: Till
          description: Дата конца периода
      type: object
      required:
      - from_
      - till
      title: ObstatsDataDates
    ObstatsDataItem:
      properties:
        tradedate:
          type: string
          format: date
          title: Tradedate
          description: Дата сделки
        tradetime:
          type: string
          title: Tradetime
          description: Время сделки
        secid:
          type: string
          title: Secid
          description: Код инструмента
        spread_bbo:
          type: number
          title: Spread Bbo
          description: Спред между лучшей ценой покупки и продажи
        spread_lv10:
          type: number
          title: Spread Lv10
          description: Спред между 10ым уровнем цен покупки и продажи
        spread_1mio:
          type: number
          title: Spread 1Mio
          description: Спред на 1 млн руб
        levels_b:
          type: integer
          title: Levels B
          description: Количество уровней цен в стакане (покупка)
        levels_s:
          type: integer
          title: Levels S
          description: Количество уровней цен в стакане (продажа)
        vol_b:
          type: integer
          title: Vol B
          description: Совокупный объем заявок в стакане на всех уровнях (покупка)
        vol_s:
          type: integer
          title: Vol S
          description: Совокупный объем заявок в стакане на всех уровнях (продажа)
        val_b:
          type: integer
          title: Val B
          description: Совокупный объем заявок в стакане на всех уровнях (покупка),
            руб
        val_s:
          type: integer
          title: Val S
          description: Совокупный объем заявок в стакане на всех уровнях (продажа),
            руб
        imbalance_vol_bbo:
          type: number
          title: Imbalance Vol Bbo
          description: Дисбаланс объема на лучших ценах
        imbalance_val_bbo:
          type: number
          title: Imbalance Val Bbo
          description: Дисбаланс объема (руб) по лучшим ценам
        imbalance_vol:
          type: number
          title: Imbalance Vol
          description: Дисбаланс объема на всем стакане (все уровни)
        imbalance_val:
          type: number
          title: Imbalance Val
          description: Дисбаланс объема (руб) на всем стакане (все уровни)
        vwap_b:
          type: number
          title: Vwap B
          description: Средневзвешенная цена покупки в стакане
        vwap_s:
          type: number
          title: Vwap S
          description: Средневзвешенная цена продажи в стакане
        vwap_b_1mio:
          type: number
          title: Vwap B 1Mio
          description: Цена покупки актива на 1 млн руб
        vwap_s_1mio:
          type: number
          title: Vwap S 1Mio
          description: Цена продажи актива на 1 млн руб
        SYSTIME:
          type: string
          format: date-time
          title: Systime
          description: Дата и время системы
      type: object
      required:
      - tradedate
      - tradetime
      - secid
      - spread_bbo
      - spread_lv10
      - spread_1mio
      - levels_b
      - levels_s
      - vol_b
      - vol_s
      - val_b
      - val_s
      - imbalance_vol_bbo
      - imbalance_val_bbo
      - imbalance_vol
      - imbalance_val
      - vwap_b
      - vwap_s
      - vwap_b_1mio
      - vwap_s_1mio
      - SYSTIME
      title: ObstatsDataItem
    ObstatsDataResponse:
      properties:
        data:
          items:
            "$ref": "#/components/schemas/ObstatsDataItem"
          type: array
          title: Data
          description: Данные заказов
        data_cursor:
          allOf:
          - "$ref": "#/components/schemas/ObstatsDataCursor"
          description: Курсор данных
        data_dates:
          allOf:
          - "$ref": "#/components/schemas/ObstatsDataDates"
          description: Даты данных
      type: object
      required:
      - data
      - data_cursor
      - data_dates
      title: ObstatsDataResponse
    OrderStatsDataCursor:
      properties:
        INDEX:
          type: integer
          title: Index
          description: Индекс курсора
          example: 0
        TOTAL:
          type: integer
          title: Total
          description: Общее количество
          example: 16022
        PAGESIZE:
          type: integer
          title: Pagesize
          description: Размер страницы
          example: 1000
      type: object
      required:
      - INDEX
      - TOTAL
      - PAGESIZE
      title: OrderStatsDataCursor
    OrderStatsDataDates:
      properties:
        from_:
          type: string
          format: date
          title: 'From '
          description: Дата начала периода
          example: '2020-01-03'
        till:
          type: string
          format: date
          title: Till
          description: Дата конца периода
          example: '2024-04-10'
      type: object
      required:
      - from_
      - till
      title: OrderStatsDataDates
    OrderStatsDataItem:
      properties:
        tradedate:
          type: string
          title: Tradedate
          description: Дата сделки
          example: '2024-04-10'
        tradetime:
          type: string
          title: Tradetime
          description: Время сделки
          example: '10:15:00'
        secid:
          type: string
          title: Secid
          description: Код инструмента
          example: ABIO
        put_orders_b:
          type: integer
          title: Put Orders B
          description: Количество покупных ордеров
          example: 413
        put_orders_s:
          type: integer
          title: Put Orders S
          description: Количество продажных ордеров
          example: 518
        put_val_b:
          type: number
          title: Put Val B
          description: Объем покупных ордеров в рублях
          example: 30087766
        put_val_s:
          type: number
          title: Put Val S
          description: Объем продажных ордеров в рублях
          example: 30087766
        put_vol_b:
          type: integer
          title: Put Vol B
          description: Объем покупных ордеров в лотах
          example: 26101
        put_vol_s:
          type: integer
          title: Put Vol S
          description: Объем продажных ордеров в лотах
          example: 36920
        put_vwap_b:
          type: number
          title: Put Vwap B
          description: Средневзвешенная цена покупных ордеров
          example: 115.27
        put_vwap_s:
          type: number
          title: Put Vwap S
          description: Средневзвешенная цена продажных ордеров
          example: 116.62
        put_vol:
          type: integer
          title: Put Vol
          description: Общий объем ордеров в лотах
          example: 63021
        put_val:
          type: number
          title: Put Val
          description: Общий объем ордеров в рублях
          example: 73142363
        put_orders:
          type: integer
          title: Put Orders
          description: Общее количество ордеров
          example: 931
        cancel_orders_b:
          type: integer
          title: Cancel Orders B
          description: Количество отмененных покупных ордеров
          example: 359
        cancel_orders_s:
          type: integer
          title: Cancel Orders S
          description: Количество отмененных продажных ордеров
          example: 480
        cancel_val_b:
          type: number
          title: Cancel Val B
          description: Объем отмененных покупных ордеров в рублях
          example: 28030223
        cancel_val_s:
          type: number
          title: Cancel Val S
          description: Объем отмененных продажных ордеров в рублях
          example: 28030223
        cancel_vol_b:
          type: integer
          title: Cancel Vol B
          description: Объем отмененных покупных ордеров в лотах
          example: 24263
        cancel_vol_s:
          type: integer
          title: Cancel Vol S
          description: Объем отмененных продажных ордеров в лотах
          example: 35890
        cancel_vwap_b:
          type: number
          title: Cancel Vwap B
          description: Средневзвешенная цена отмененных покупных ордеров
          example: 115.53
        cancel_vwap_s:
          type: number
          title: Cancel Vwap S
          description: Средневзвешенная цена отмененных продажных ордеров
          example: 116.69
        cancel_vol:
          type: integer
          title: Cancel Vol
          description: Общий объем отмененных ордеров в лотах
          example: 60153
        cancel_val:
          type: number
          title: Cancel Val
          description: Общий объем отмененных ордеров в рублях
          example: 69911124
        cancel_orders:
          type: integer
          title: Cancel Orders
          description: Общее количество отмененных ордеров
          example: 839
        SYSTIME:
          type: string
          format: date-time
          title: Systime
          description: Дата и время системы
          example: '2024-04-10T10:15:11.000Z'
      type: object
      required:
      - tradedate
      - tradetime
      - secid
      - put_orders_b
      - put_orders_s
      - put_val_b
      - put_val_s
      - put_vol_b
      - put_vol_s
      - put_vwap_b
      - put_vwap_s
      - put_vol
      - put_val
      - put_orders
      - cancel_orders_b
      - cancel_orders_s
      - cancel_val_b
      - cancel_val_s
      - cancel_vol_b
      - cancel_vol_s
      - cancel_vwap_b
      - cancel_vwap_s
      - cancel_vol
      - cancel_val
      - cancel_orders
      - SYSTIME
      title: OrderStatsDataItem
    OrderStatsDataResponse:
      properties:
        data:
          items:
            "$ref": "#/components/schemas/OrderStatsDataItem"
          type: array
          title: Data
          description: Данные по ордерам
        data_cursor:
          allOf:
          - "$ref": "#/components/schemas/OrderStatsDataCursor"
          description: Курсор данных
        data_dates:
          allOf:
          - "$ref": "#/components/schemas/OrderStatsDataDates"
          description: Даты данных
      type: object
      required:
      - data
      - data_cursor
      - data_dates
      title: OrderStatsDataResponse
    TradeStatsDataCursor:
      properties:
        INDEX:
          type: integer
          title: Index
          description: Индекс курсора
          example: 0
        TOTAL:
          type: integer
          title: Total
          description: Общее количество
          example: 12389
        PAGESIZE:
          type: integer
          title: Pagesize
          description: Размер страницы
          example: 1000
      type: object
      required:
      - INDEX
      - TOTAL
      - PAGESIZE
      title: TradeStatsDataCursor
    TradeStatsDataDates:
      properties:
        from_:
          type: string
          format: date
          title: 'From '
          description: Дата начала периода
          example: '2020-01-03'
        till:
          type: string
          format: date
          title: Till
          description: Дата конца периода
          example: '2024-04-10'
      type: object
      required:
      - from_
      - till
      title: TradeStatsDataDates
    TradeStatsDataItem:
      properties:
        tradedate:
          type: string
          title: Tradedate
          description: Дата сделки
          example: '2024-04-10'
        tradetime:
          type: string
          title: Tradetime
          description: Время сделки
          example: '10:15:00'
        secid:
          type: string
          title: Secid
          description: Код инструмента
          example: ABIO
        pr_open:
          type: number
          title: Pr Open
          description: Цена открытия
          example: 116.12
        pr_high:
          type: number
          title: Pr High
          description: Максимальная цена за период
          example: 116.12
        pr_low:
          type: number
          title: Pr Low
          description: Минимальная цена за период
          example: 115.92
        pr_close:
          type: number
          title: Pr Close
          description: Последняя цена за период
          example: 115.92
        pr_std:
          type: number
          title: Pr Std
          description: Стандартное отклонение цены
          example: 0.0004
        vol:
          type: integer
          title: Vol
          description: Объем в лотах
          example: 207
        val:
          type: number
          title: Val
          description: Объем в рублях
          example: 240139
        trades:
          type: integer
          title: Trades
          description: Количество сделок
          example: 31
        pr_vwap:
          type: number
          title: Pr Vwap
          description: Средневзвешенная цена
          example: 116.01
        pr_change:
          type: number
          title: Pr Change
          description: Изменение цены за период, %
          example: -0.1722
        trades_b:
          type: integer
          title: Trades B
          description: Количество сделок на покупку
          example: 14
        trades_s:
          type: integer
          title: Trades S
          description: Количество сделок на продажу
          example: 17
        val_b:
          type: number
          title: Val B
          description: Объем покупок в рублях
          example: 75415
        val_s:
          type: number
          title: Val S
          description: Объем продаж в рублях
          example: 164723
        vol_b:
          type: integer
          title: Vol B
          description: Объем покупок в лотах
          example: 65
        vol_s:
          type: integer
          title: Vol S
          description: Объем продаж в лотах
          example: 142
        disb:
          type: number
          title: Disb
          description: Соотношение объема покупок и продаж
          example: -0.37
        pr_vwap_b:
          type: number
          title: Pr Vwap B
          description: Средневзвешенная цена покупки
          example: 116.02
        pr_vwap_s:
          type: number
          title: Pr Vwap S
          description: Средневзвешенная цена продажи
          example: 116
        SYSTIME:
          type: string
          format: date-time
          title: Systime
          description: Дата и время системы
          example: '2024-04-10T10:15:10.000Z'
      type: object
      required:
      - tradedate
      - tradetime
      - secid
      - pr_open
      - pr_high
      - pr_low
      - pr_close
      - pr_std
      - vol
      - val
      - trades
      - pr_vwap
      - pr_change
      - trades_b
      - trades_s
      - val_b
      - val_s
      - vol_b
      - vol_s
      - disb
      - pr_vwap_b
      - pr_vwap_s
      - SYSTIME
      title: TradeStatsDataItem
    TradeStatsDataResponse:
      properties:
        data:
          items:
            "$ref": "#/components/schemas/TradeStatsDataItem"
          type: array
          title: Data
          description: Данные сделок
        data_cursor:
          allOf:
          - "$ref": "#/components/schemas/TradeStatsDataCursor"
          description: Курсор данных
        data_dates:
          allOf:
          - "$ref": "#/components/schemas/TradeStatsDataDates"
          description: Даты данных
      type: object
      required:
      - data
      - data_cursor
      - data_dates
      title: TradeStatsDataResponse
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    HTTPBasic:
      type: http
      scheme: basic
tags:
- name: EQ | Stocks
  description: Endpoints for EQ Market | Stocks
- name: FO | Futures
  description: Endpoints for FO Market | Futures
- name: FX | Currency
  description: Endpoints for FX Market | Currency
security:
- http_basic: []
