openapi: 3.0.3
#info:
#  title: ALGOPACK
#  description: 
#  version: 1.0.0
servers:
  - url: https://iss.moex.com

tags:
  - name: Real-time market data - Акции
    description: Свечи, стаканы, сделки
  - name: Real-time market data - Фьючерсы
    description: Свечи, стаканы, сделки
  - name: Super Candles - Акции
    description: фичи на потоке сделок, заявок и стакана котировок
  - name: Super Candles - Фьючерсы
    description: фичи на потоке сделок, заявок и стакана котировок
  - name: Super Candles - Валюта
    description: фичи на потоке сделок, заявок и стакана котировок
  - name: Futures Open Interest (FUTOI)
    description: Открытые позиции физ. и юр. лиц
  - name: Market Concetration (HI2)
    description: Индекс рыночной концентрации

    
paths:
  
  /authenticate: # <-- This is your new endpoint for authentication
    get:
      servers:  # Override for this particular path
        - url: https://passport.moex.com
      summary: Authenticate user
      description: |
        Для аутентификации пользователей используется basic-аутентификация.
        <login> и <password> передаются серверу в заголовке запроса на **https://passport.moex.com/authenticate**
        
        При успешной аутентификации сервер возвращает cookie с именем MicexPassportCert. 
        Далее этот токен должен передаваться при последующих запросах
        
        ```
        # python example
        import requests
        from requests.auth import HTTPBasicAuth

        url = 'https://passport.moex.com/authenticate'

        # Basic authentication credentials
        username = <login>
        password = <password>
        
        # Make a GET request with Basic Authentication
        response = requests.get(url, auth=HTTPBasicAuth(username, password))
        
        cert = response.cookies['MicexPassportCert']
        ```
        
      tags:
        - Authentication
      security:
        - basicAuth: []
      
  #Real-time

  #eq
  /iss/engines/stock/markets/shares/boards/tqbr/securities.json:
    get:
      tags:
        - Real-time market data - Акции
      summary: Торговая статистика за сегодня  (по всем акциям)
      description: |
        Торговая статистика по всем акциям на текущий день
      
        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time торговая статистика      |
        | NOT AUTHORIZED   | 15 мин. задержанные данные и ограниченный набор полей |
        
        Блоки данных
          * securities - торговые параметры акций (наименорвание, шаг цены, лотность, ...)
          * marketdata - торговая статистика по акциям (цены, объемы, ...)
          
        ```
        # пример
        https://iss.moex.com/iss/engines/stock/markets/shares/boards/tqbr/securities.json
        ```
        
        [описание метрик](../des/realtime#marketstatistics) | [Кастомизация запросов](/api_custom)
        
        <details><summary>
        пример ответа
        </summary>
        ```
        
        {
        "securities": {
            "metadata": {
                "SECID": {"type": "string", "bytes": 36, "max_size": 0},
                "BOARDID": {"type": "string", "bytes": 12, "max_size": 0},
                "SHORTNAME": {"type": "string", "bytes": 30, "max_size": 0},
                "PREVPRICE": {"type": "double"},
                "LOTSIZE": {"type": "int32"},
                "FACEVALUE": {"type": "double"},
                "STATUS": {"type": "string", "bytes": 3, "max_size": 0},
                "BOARDNAME": {"type": "string", "bytes": 381, "max_size": 0},
                "DECIMALS": {"type": "int32"},
                "SECNAME": {"type": "string", "bytes": 90, "max_size": 0},
                "REMARKS": {"type": "string", "bytes": 24, "max_size": 0},
                "MARKETCODE": {"type": "string", "bytes": 12, "max_size": 0},
                "INSTRID": {"type": "string", "bytes": 12, "max_size": 0},
                "SECTORID": {"type": "string", "bytes": 12, "max_size": 0},
                "MINSTEP": {"type": "double"},
                "PREVWAPRICE": {"type": "double"},
                "FACEUNIT": {"type": "string", "bytes": 12, "max_size": 0},
                "PREVDATE": {"type": "date", "bytes": 10, "max_size": 0},
                "ISSUESIZE": {"type": "int64"},
                "ISIN": {"type": "string", "bytes": 36, "max_size": 0},
                "LATNAME": {"type": "string", "bytes": 90, "max_size": 0},
                "REGNUMBER": {"type": "string", "bytes": 90, "max_size": 0},
                "PREVLEGALCLOSEPRICE": {"type": "double"},
                "CURRENCYID": {"type": "string", "bytes": 12, "max_size": 0},
                "SECTYPE": {"type": "string", "bytes": 3, "max_size": 0},
                "LISTLEVEL": {"type": "int32"},
                "SETTLEDATE": {"type": "date", "bytes": 10, "max_size": 0}
            },
            "columns": ["SECID", "BOARDID", "SHORTNAME", "PREVPRICE", "LOTSIZE", "FACEVALUE", "STATUS", "BOARDNAME", "DECIMALS", "SECNAME", "REMARKS", "MARKETCODE", "INSTRID", "SECTORID", "MINSTEP", "PREVWAPRICE", "FACEUNIT", "PREVDATE", "ISSUESIZE", "ISIN", "LATNAME", "REGNUMBER", "PREVLEGALCLOSEPRICE", "CURRENCYID", "SECTYPE", "LISTLEVEL", "SETTLEDATE"], 
            "data": [
                ["SBER", "TQBR", "Сбербанк", 307.1, 10, 3, "A", "Т+: Акции и ДР - безадрес.", 2, "Сбербанк России ПАО ао", null, "FNDT", "EQIN", null, 0.01, 307.08, "SUR", "2024-04-12", 21586948000, "RU0009029540", "Sberbank", "10301481B", 306.8, "SUR", "1", 1, "2024-04-16"]
            ]
        },
        "marketdata": {
            "metadata": {
                "SECID": {"type": "string", "bytes": 36, "max_size": 0},
                "BOARDID": {"type": "string", "bytes": 12, "max_size": 0},
                "BID": {"type": "double"},
                "BIDDEPTH": {"type": "int32"},
                "OFFER": {"type": "double"},
                "OFFERDEPTH": {"type": "int32"},
                "SPREAD": {"type": "double"},
                "BIDDEPTHT": {"type": "int32"},
                "OFFERDEPTHT": {"type": "int32"},
                "OPEN": {"type": "double"},
                "LOW": {"type": "double"},
                "HIGH": {"type": "double"},
                "LAST": {"type": "double"},
                "LASTCHANGE": {"type": "double"},
                "LASTCHANGEPRCNT": {"type": "double"},
                "QTY": {"type": "int32"},
                "VALUE": {"type": "double"},
                "VALUE_USD": {"type": "double"},
                "WAPRICE": {"type": "double"},
                "LASTCNGTOLASTWAPRICE": {"type": "double"},
                "WAPTOPREVWAPRICEPRCNT": {"type": "double"},
                "WAPTOPREVWAPRICE": {"type": "double"},
                "CLOSEPRICE": {"type": "double"},
                "MARKETPRICETODAY": {"type": "double"},
                "MARKETPRICE": {"type": "double"},
                "LASTTOPREVPRICE": {"type": "double"},
                "NUMTRADES": {"type": "int32"},
                "VOLTODAY": {"type": "int64"},
                "VALTODAY": {"type": "int64"},
                "VALTODAY_USD": {"type": "int64"},
                "ETFSETTLEPRICE": {"type": "double"},
                "TRADINGSTATUS": {"type": "string", "bytes": 3, "max_size": 0},
                "UPDATETIME": {"type": "time", "bytes": 10, "max_size": 0},
                "LASTBID": {"type": "double"},
                "LASTOFFER": {"type": "double"},
                "LCLOSEPRICE": {"type": "double"},
                "LCURRENTPRICE": {"type": "double"},
                "MARKETPRICE2": {"type": "double"},
                "NUMBIDS": {"type": "int32"},
                "NUMOFFERS": {"type": "int32"},
                "CHANGE": {"type": "double"},
                "TIME": {"type": "time", "bytes": 10, "max_size": 0},
                "HIGHBID": {"type": "double"},
                "LOWOFFER": {"type": "double"},
                "PRICEMINUSPREVWAPRICE": {"type": "double"},
                "OPENPERIODPRICE": {"type": "double"},
                "SEQNUM": {"type": "int64"},
                "SYSTIME": {"type": "datetime", "bytes": 19, "max_size": 0},
                "CLOSINGAUCTIONPRICE": {"type": "double"},
                "CLOSINGAUCTIONVOLUME": {"type": "double"},
                "ISSUECAPITALIZATION": {"type": "double"},
                "ISSUECAPITALIZATION_UPDATETIME": {"type": "time", "bytes": 10, "max_size": 0},
                "ETFSETTLECURRENCY": {"type": "string", "bytes": 18, "max_size": 0},
                "VALTODAY_RUR": {"type": "int64"},
                "TRADINGSESSION": {"type": "string", "bytes": 3, "max_size": 0},
                "TRENDISSUECAPITALIZATION": {"type": "double"}
            },
            "columns": ["SECID", "BOARDID", "BID", "BIDDEPTH", "OFFER", "OFFERDEPTH", "SPREAD", "BIDDEPTHT", "OFFERDEPTHT", "OPEN", "LOW", "HIGH", "LAST", "LASTCHANGE", "LASTCHANGEPRCNT", "QTY", "VALUE", "VALUE_USD", "WAPRICE", "LASTCNGTOLASTWAPRICE", "WAPTOPREVWAPRICEPRCNT", "WAPTOPREVWAPRICE", "CLOSEPRICE", "MARKETPRICETODAY", "MARKETPRICE", "LASTTOPREVPRICE", "NUMTRADES", "VOLTODAY", "VALTODAY", "VALTODAY_USD", "ETFSETTLEPRICE", "TRADINGSTATUS", "UPDATETIME", "LASTBID", "LASTOFFER", "LCLOSEPRICE", "LCURRENTPRICE", "MARKETPRICE2", "NUMBIDS", "NUMOFFERS", "CHANGE", "TIME", "HIGHBID", "LOWOFFER", "PRICEMINUSPREVWAPRICE", "OPENPERIODPRICE", "SEQNUM", "SYSTIME", "CLOSINGAUCTIONPRICE", "CLOSINGAUCTIONVOLUME", "ISSUECAPITALIZATION", "ISSUECAPITALIZATION_UPDATETIME", "ETFSETTLECURRENCY", "VALTODAY_RUR", "TRADINGSESSION", "TRENDISSUECAPITALIZATION"], 
            "data": [
                ["SBER", "TQBR", 307.59, 2299, 307.6, 16306, 0.01, 432266, 750161, 307.47, 306.64, 308.39, 307.6, 0.01, 0, 25, 76900.00, 822.97, 307.51, 0.52, 0.14, 0.43, null, null, 307.02, 0.16, 42408, 17152850, 5274982356, 56452002, null, "T", "18:09:16", 307.59, 307.6, null, 307.51, null, 5639, 4980, 0.5, "18:09:14", 332, 292.8, 0.52, 307.47, 20240415180916, "2024-04-15 18:09:16", null, null, 6640145204800, "18:08:57", null, 5274982356, "1", 10793474000]
            ]
        },
        "dataversion": {
            "metadata": {
                "data_version": {"type": "int32"},
                "seqnum": {"type": "int64"}
            },
            "columns": ["data_version", "seqnum"], 
            "data": [
                [8109, 20240415180916]
            ]
        },
        "marketdata_yields": {
            "metadata": {
                "boardid": {"type": "string", "bytes": 12, "max_size": 0},
                "secid": {"type": "string", "bytes": 36, "max_size": 0}
            },
            "columns": ["boardid", "secid"], 
            "data": [

            ]
        }}
        
        ```            
        </details>
    
  /iss/engines/stock/markets/shares/boards/tqbr/securities/{ticker}.json:
    get:
      tags:
        - Real-time market data - Акции
      summary: Торговая статистика за сегодня (по одной указанной акции)
      parameters:
        - name: ticker
          in: path
          description: Код ценной бумаги, например 'SBER'
          required: true
      description: |
        Свечи по одной указанной акции
      
        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time                          |
        | NOT AUTHORIZED   | 15 мин. задержанные данные         |
        
        ```
        # пример
        https://iss.moex.com/iss/engines/stock/markets/shares/boards/tqbr/securities/sber.json
        ```
        
        [описание метрик](../des/realtime#marketstatistics) | [Кастомизация запросов](/api_custom)
        
        <details><summary>
        пример ответа
        </summary>
        ```
        
        {
        "securities": {
            "metadata": {
                "SECID": {"type": "string", "bytes": 36, "max_size": 0},
                "BOARDID": {"type": "string", "bytes": 12, "max_size": 0},
                "SHORTNAME": {"type": "string", "bytes": 30, "max_size": 0},
                "PREVPRICE": {"type": "double"},
                "LOTSIZE": {"type": "int32"},
                "FACEVALUE": {"type": "double"},
                "STATUS": {"type": "string", "bytes": 3, "max_size": 0},
                "BOARDNAME": {"type": "string", "bytes": 381, "max_size": 0},
                "DECIMALS": {"type": "int32"},
                "SECNAME": {"type": "string", "bytes": 90, "max_size": 0},
                "REMARKS": {"type": "string", "bytes": 24, "max_size": 0},
                "MARKETCODE": {"type": "string", "bytes": 12, "max_size": 0},
                "INSTRID": {"type": "string", "bytes": 12, "max_size": 0},
                "SECTORID": {"type": "string", "bytes": 12, "max_size": 0},
                "MINSTEP": {"type": "double"},
                "PREVWAPRICE": {"type": "double"},
                "FACEUNIT": {"type": "string", "bytes": 12, "max_size": 0},
                "PREVDATE": {"type": "date", "bytes": 10, "max_size": 0},
                "ISSUESIZE": {"type": "int64"},
                "ISIN": {"type": "string", "bytes": 36, "max_size": 0},
                "LATNAME": {"type": "string", "bytes": 90, "max_size": 0},
                "REGNUMBER": {"type": "string", "bytes": 90, "max_size": 0},
                "PREVLEGALCLOSEPRICE": {"type": "double"},
                "CURRENCYID": {"type": "string", "bytes": 12, "max_size": 0},
                "SECTYPE": {"type": "string", "bytes": 3, "max_size": 0},
                "LISTLEVEL": {"type": "int32"},
                "SETTLEDATE": {"type": "date", "bytes": 10, "max_size": 0}
            },
            "columns": ["SECID", "BOARDID", "SHORTNAME", "PREVPRICE", "LOTSIZE", "FACEVALUE", "STATUS", "BOARDNAME", "DECIMALS", "SECNAME", "REMARKS", "MARKETCODE", "INSTRID", "SECTORID", "MINSTEP", "PREVWAPRICE", "FACEUNIT", "PREVDATE", "ISSUESIZE", "ISIN", "LATNAME", "REGNUMBER", "PREVLEGALCLOSEPRICE", "CURRENCYID", "SECTYPE", "LISTLEVEL", "SETTLEDATE"], 
            "data": [
                ["SBER", "TQBR", "Сбербанк", 307.1, 10, 3, "A", "Т+: Акции и ДР - безадрес.", 2, "Сбербанк России ПАО ао", null, "FNDT", "EQIN", null, 0.01, 307.08, "SUR", "2024-04-12", 21586948000, "RU0009029540", "Sberbank", "10301481B", 306.8, "SUR", "1", 1, "2024-04-16"]
            ]
        },
        "marketdata": {
            "metadata": {
                "SECID": {"type": "string", "bytes": 36, "max_size": 0},
                "BOARDID": {"type": "string", "bytes": 12, "max_size": 0},
                "BID": {"type": "double"},
                "BIDDEPTH": {"type": "int32"},
                "OFFER": {"type": "double"},
                "OFFERDEPTH": {"type": "int32"},
                "SPREAD": {"type": "double"},
                "BIDDEPTHT": {"type": "int32"},
                "OFFERDEPTHT": {"type": "int32"},
                "OPEN": {"type": "double"},
                "LOW": {"type": "double"},
                "HIGH": {"type": "double"},
                "LAST": {"type": "double"},
                "LASTCHANGE": {"type": "double"},
                "LASTCHANGEPRCNT": {"type": "double"},
                "QTY": {"type": "int32"},
                "VALUE": {"type": "double"},
                "VALUE_USD": {"type": "double"},
                "WAPRICE": {"type": "double"},
                "LASTCNGTOLASTWAPRICE": {"type": "double"},
                "WAPTOPREVWAPRICEPRCNT": {"type": "double"},
                "WAPTOPREVWAPRICE": {"type": "double"},
                "CLOSEPRICE": {"type": "double"},
                "MARKETPRICETODAY": {"type": "double"},
                "MARKETPRICE": {"type": "double"},
                "LASTTOPREVPRICE": {"type": "double"},
                "NUMTRADES": {"type": "int32"},
                "VOLTODAY": {"type": "int64"},
                "VALTODAY": {"type": "int64"},
                "VALTODAY_USD": {"type": "int64"},
                "ETFSETTLEPRICE": {"type": "double"},
                "TRADINGSTATUS": {"type": "string", "bytes": 3, "max_size": 0},
                "UPDATETIME": {"type": "time", "bytes": 10, "max_size": 0},
                "LASTBID": {"type": "double"},
                "LASTOFFER": {"type": "double"},
                "LCLOSEPRICE": {"type": "double"},
                "LCURRENTPRICE": {"type": "double"},
                "MARKETPRICE2": {"type": "double"},
                "NUMBIDS": {"type": "int32"},
                "NUMOFFERS": {"type": "int32"},
                "CHANGE": {"type": "double"},
                "TIME": {"type": "time", "bytes": 10, "max_size": 0},
                "HIGHBID": {"type": "double"},
                "LOWOFFER": {"type": "double"},
                "PRICEMINUSPREVWAPRICE": {"type": "double"},
                "OPENPERIODPRICE": {"type": "double"},
                "SEQNUM": {"type": "int64"},
                "SYSTIME": {"type": "datetime", "bytes": 19, "max_size": 0},
                "CLOSINGAUCTIONPRICE": {"type": "double"},
                "CLOSINGAUCTIONVOLUME": {"type": "double"},
                "ISSUECAPITALIZATION": {"type": "double"},
                "ISSUECAPITALIZATION_UPDATETIME": {"type": "time", "bytes": 10, "max_size": 0},
                "ETFSETTLECURRENCY": {"type": "string", "bytes": 18, "max_size": 0},
                "VALTODAY_RUR": {"type": "int64"},
                "TRADINGSESSION": {"type": "string", "bytes": 3, "max_size": 0},
                "TRENDISSUECAPITALIZATION": {"type": "double"}
            },
            "columns": ["SECID", "BOARDID", "BID", "BIDDEPTH", "OFFER", "OFFERDEPTH", "SPREAD", "BIDDEPTHT", "OFFERDEPTHT", "OPEN", "LOW", "HIGH", "LAST", "LASTCHANGE", "LASTCHANGEPRCNT", "QTY", "VALUE", "VALUE_USD", "WAPRICE", "LASTCNGTOLASTWAPRICE", "WAPTOPREVWAPRICEPRCNT", "WAPTOPREVWAPRICE", "CLOSEPRICE", "MARKETPRICETODAY", "MARKETPRICE", "LASTTOPREVPRICE", "NUMTRADES", "VOLTODAY", "VALTODAY", "VALTODAY_USD", "ETFSETTLEPRICE", "TRADINGSTATUS", "UPDATETIME", "LASTBID", "LASTOFFER", "LCLOSEPRICE", "LCURRENTPRICE", "MARKETPRICE2", "NUMBIDS", "NUMOFFERS", "CHANGE", "TIME", "HIGHBID", "LOWOFFER", "PRICEMINUSPREVWAPRICE", "OPENPERIODPRICE", "SEQNUM", "SYSTIME", "CLOSINGAUCTIONPRICE", "CLOSINGAUCTIONVOLUME", "ISSUECAPITALIZATION", "ISSUECAPITALIZATION_UPDATETIME", "ETFSETTLECURRENCY", "VALTODAY_RUR", "TRADINGSESSION", "TRENDISSUECAPITALIZATION"], 
            "data": [
                ["SBER", "TQBR", 307.59, 2299, 307.6, 16306, 0.01, 432266, 750161, 307.47, 306.64, 308.39, 307.6, 0.01, 0, 25, 76900.00, 822.97, 307.51, 0.52, 0.14, 0.43, null, null, 307.02, 0.16, 42408, 17152850, 5274982356, 56452002, null, "T", "18:09:16", 307.59, 307.6, null, 307.51, null, 5639, 4980, 0.5, "18:09:14", 332, 292.8, 0.52, 307.47, 20240415180916, "2024-04-15 18:09:16", null, null, 6640145204800, "18:08:57", null, 5274982356, "1", 10793474000]
            ]
        },
        "dataversion": {
            "metadata": {
                "data_version": {"type": "int32"},
                "seqnum": {"type": "int64"}
            },
            "columns": ["data_version", "seqnum"], 
            "data": [
                [8109, 20240415180916]
            ]
        },
        "marketdata_yields": {
            "metadata": {
                "boardid": {"type": "string", "bytes": 12, "max_size": 0},
                "secid": {"type": "string", "bytes": 36, "max_size": 0}
            },
            "columns": ["boardid", "secid"], 
            "data": [

            ]
        }}
        
        ```            
        </details>
          
  /iss/engines/stock/markets/shares/boards/tqbr/securities/{ticker}/candles.json:
    get:
      tags:
        - Real-time market data - Акции
      summary: Свечи по инструменту
      parameters:
        - name: ticker
          in: path
          description: Код ценной бумаги, например 'SBER'
          required: true
        - name: from
          in: query
          description: Дата начала периода, например '2024-03-01'
          required: true
        - name: till
          in: query
          description: Дата окончания периода, например '2024-05-01'
          required: true
        - name: interval
          in: query
          description: |
            Период свечей:
              * 1 - 1 мин
              * 10 - 10 мин
              * 60 - 1 час
              * 24 - 1 день
              * 7 - 1 неделя
              * 31 - 1 месяц
          
          required: false
          default: 10
          
      description: |
        Свечи по одной указанной акции
      
        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time                          |
        | NOT AUTHORIZED   | 15 мин. задержанные данные         |
        
        ```
        # пример
        https://iss.moex.com/iss/engines/stock/markets/shares/boards/tqbr/securities/sber/candles.json?
        from=2024-04-15&
        till=2024-04-20&
        interval=60
        ```
        
        [описание метрик](../des/realtime#candles) | [Кастомизация запросов](/api_custom)
        
        <details><summary>
        пример ответа
        </summary>
        ```
        
        {
        "candles": {
            "metadata": {
                "open": {"type": "double"},
                "close": {"type": "double"},
                "high": {"type": "double"},
                "low": {"type": "double"},
                "value": {"type": "double"},
                "volume": {"type": "double"},
                "begin": {"type": "datetime", "bytes": 19, "max_size": 0},
                "end": {"type": "datetime", "bytes": 19, "max_size": 0}
            },
            "columns": ["open", "close", "high", "low", "value", "volume", "begin", "end"], 
            "data": [
                [307.4, 307.94, 308.39, 307.2, 566177439.3, 1838520, "2024-04-15 10:00:00", "2024-04-15 10:09:59"],
                [307.95, 307.76, 308.09, 307.59, 239202570.7, 776950, "2024-04-15 10:10:00", "2024-04-15 10:19:59"],
            ]
        }}
        
        ```            
        </details>
      
          
  /iss/engines/stock/markets/shares/boards/tqbr/securities/{ticker}/orderbook.json:
    get:
      tags:
        - Real-time market data - Акции
      summary: Стакан котировок по указанному инструменту
      parameters:
        - name: ticker
          in: path
          description: Код ценной бумаги, например 'SBER'
          required: true
          
      description: |
        Стакан котировок по одной указанной акции
        
        10 уровней Buy, 10 уровней Sell
      
        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time стакан                   |
        | NOT AUTHORIZED   | Метод не доступен (Error 403). Необходима подписка |
        
        ```
        # пример
        https://iss.moex.com/iss/engines/stock/markets/shares/boards/tqbr/securities/sber/orderbook.json
        ```
        
        [описание метрик](../des/realtime#orderbook) | [Кастомизация запросов](/api_custom)
        
        <details><summary>
        пример ответа
        </summary>
        ```
        {
        "orderbook": {
            "metadata": {
                "BOARDID": {"type": "string", "bytes": 12, "max_size": 0},
                "SECID": {"type": "string", "bytes": 36, "max_size": 0},
                "BUYSELL": {"type": "string", "bytes": 3, "max_size": 0},
                "PRICE": {"type": "double"},
                "QUANTITY": {"type": "int32"},
                "SEQNUM": {"type": "int64"},
                "UPDATETIME": {"type": "time", "bytes": 10, "max_size": 0},
                "DECIMALS": {"type": "int32"}
            },
            "columns": ["BOARDID", "SECID", "BUYSELL", "PRICE", "QUANTITY", "SEQNUM", "UPDATETIME", "DECIMALS"], 
            "data": [
                ["TQBR", "SBER", "B", 307.49, 33, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "B", 307.5, 1312, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "B", 307.51, 801, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "B", 307.52, 41, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "B", 307.54, 6, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "B", 307.55, 283, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "B", 307.56, 35, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "B", 307.57, 23, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "B", 307.58, 159, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "B", 307.59, 1120, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "S", 307.6, 1743, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "S", 307.64, 9, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "S", 307.65, 609, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "S", 307.66, 5, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "S", 307.68, 885, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "S", 307.7, 110, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "S", 307.72, 1605, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "S", 307.73, 880, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "S", 307.74, 1600, 20240416164323, "16:43:23", 2],
                ["TQBR", "SBER", "S", 307.75, 600, 20240416164323, "16:43:23", 2]
            ]
        },
        "dataversion": {
            "metadata": {
                "data_version": {"type": "int32"},
                "seqnum": {"type": "int64"}
            },
            "columns": ["data_version", "seqnum"], 
            "data": [
                [8110, 20240416164326]
            ]
        }}
        
        ```            
        </details>

          
  /iss/engines/stock/markets/shares/boards/tqbr/securities/{ticker}/trades.json:
    get:
      tags:
        - Real-time market data - Акции
      summary: Все сделки по инструменту
      parameters:
        - name: ticker
          in: path
          description: Код ценной бумаги, например 'SBER'
          required: true
        - name: tradeno
          in: query
          description: Получить сделки, которые идут начиная с указанного 
          required: false
          
      description: |
        Все сделки по одному выбранному инструменту за текущий торговый день

        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time сделки                   |
        | NOT AUTHORIZED   | 15 мин. задержанные данные         |

        ```
        # пример
        https://iss.moex.com/iss/engines/stock/markets/shares/boards/tqbr/securities/sber/trades.json?
        tradeno=10131515201

        # если не указывать ticker, сделки пойдут по всем акциям
        https://iss.moex.com/iss/engines/stock/markets/shares/boards/tqbr/securities/trades.json?
        tradeno=10131515201
        ```

        [описание метрик](../des/realtime#trades) | [Кастомизация запросов](/api_custom)

        <details><summary>
        пример ответа
        </summary>
        ```

        {
        "trades": {
            "metadata": {
                "TRADENO": {"type": "int64"},
                "TRADETIME": {"type": "time", "bytes": 10, "max_size": 0},
                "BOARDID": {"type": "string", "bytes": 12, "max_size": 0},
                "SECID": {"type": "string", "bytes": 36, "max_size": 0},
                "PRICE": {"type": "double"},
                "QUANTITY": {"type": "int32"},
                "VALUE": {"type": "double"},
                "PERIOD": {"type": "string", "bytes": 3, "max_size": 0},
                "TRADETIME_GRP": {"type": "int32"},
                "SYSTIME": {"type": "datetime", "bytes": 19, "max_size": 0},
                "BUYSELL": {"type": "string", "bytes": 3, "max_size": 0},
                "DECIMALS": {"type": "int32"},
                "TRADINGSESSION": {"type": "string", "bytes": 3, "max_size": 0}
            },
            "columns": ["TRADENO", "TRADETIME", "BOARDID", "SECID", "PRICE", "QUANTITY", "VALUE", "PERIOD", "TRADETIME_GRP", "SYSTIME", "BUYSELL", "DECIMALS", "TRADINGSESSION"], 
            "data": [
                [10131515288, "10:07:01", "TQBR", "SBER", 308.31, 15, 46246.5, "N", 1007, "2024-04-16 10:07:01", "B", 2, "1"],
                [10131515293, "10:07:01", "TQBR", "SBER", 308.3, 1, 3083, "N", 1007, "2024-04-16 10:07:01", "S", 2, "1"],
                [10131515294, "10:07:01", "TQBR", "SBER", 308.3, 9, 27747, "N", 1007, "2024-04-16 10:07:01", "S", 2, "1"],
                [10131515416, "10:07:02", "TQBR", "SBER", 308.31, 1, 3083.1, "N", 1007, "2024-04-16 10:07:02", "B", 2, "1"],
                ]
        },
        "dataversion": {
            "metadata": {
                "data_version": {"type": "int32"},
                "seqnum": {"type": "int64"}
            },
            "columns": ["data_version", "seqnum"], 
            "data": [
                [8110, 20240416184230]
            ]
        },
        "trades_yields": {
            "metadata": {
                "boardid": {"type": "string", "bytes": 12, "max_size": 0},
                "secid": {"type": "string", "bytes": 36, "max_size": 0}
            },
            "columns": ["boardid", "secid"], 
            "data": [
            ]
        }}

        ```            
        </details>
          
          
  #fut
  /iss/engines/futures/markets/forts/boards/rfud/securities.json:
    get:
      tags:
        - Real-time market data - Фьючерсы
      summary: Торговая статистика по фьючерсам за сегодня
      description: |
        Торговая статистика по всем фьючерсам на текущий день
      
        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time торговая статистика      |
        | NOT AUTHORIZED   | 15 мин. задержанные данные и ограниченный набор полей |
        
        Блоки данных
          * securities - торговые параметры фьючерсов (наименорвание, шаг цены, лотность, ...)
          * marketdata - торговая статистика по фьючерсам (цены, объемы, ...)
        
        ```
        # пример
        https://iss.moex.com/iss/engines/futures/markets/forts/boards/rfud/securities.json
        ```
        
        [описание метрик](../des/realtime#marketstatistics_1) | [Кастомизация запросов](/api_custom)
        
        <details><summary>
        пример ответа
        </summary>
        ```
        
        {
        "securities": {
            "metadata": {
                "SECID": {"type": "string", "bytes": 36, "max_size": 0},
                "BOARDID": {"type": "string", "bytes": 12, "max_size": 0},
                "SHORTNAME": {"type": "string", "bytes": 75, "max_size": 0},
                "SECNAME": {"type": "string", "bytes": 225, "max_size": 0},
                "PREVSETTLEPRICE": {"type": "double"},
                "DECIMALS": {"type": "int32"},
                "MINSTEP": {"type": "double"},
                "LASTTRADEDATE": {"type": "date", "bytes": 10, "max_size": 0},
                "LASTDELDATE": {"type": "date", "bytes": 10, "max_size": 0},
                "SECTYPE": {"type": "string", "bytes": 6, "max_size": 0},
                "LATNAME": {"type": "string", "bytes": 90, "max_size": 0},
                "ASSETCODE": {"type": "string", "bytes": 75, "max_size": 0},
                "PREVOPENPOSITION": {"type": "int64"},
                "LOTVOLUME": {"type": "int32"},
                "INITIALMARGIN": {"type": "double"},
                "HIGHLIMIT": {"type": "double"},
                "LOWLIMIT": {"type": "double"},
                "STEPPRICE": {"type": "double"},
                "LASTSETTLEPRICE": {"type": "double"},
                "PREVPRICE": {"type": "double"},
                "IMTIME": {"type": "datetime", "bytes": 19, "max_size": 0},
                "BUYSELLFEE": {"type": "double"},
                "SCALPERFEE": {"type": "double"},
                "NEGOTIATEDFEE": {"type": "double"},
                "EXERCISEFEE": {"type": "double"}
            },
            "columns": ["SECID", "BOARDID", "SHORTNAME", "SECNAME", "PREVSETTLEPRICE", "DECIMALS", "MINSTEP", "LASTTRADEDATE", "LASTDELDATE", "SECTYPE", "LATNAME", "ASSETCODE", "PREVOPENPOSITION", "LOTVOLUME", "INITIALMARGIN", "HIGHLIMIT", "LOWLIMIT", "STEPPRICE", "LASTSETTLEPRICE", "PREVPRICE", "IMTIME", "BUYSELLFEE", "SCALPERFEE", "NEGOTIATEDFEE", "EXERCISEFEE"], 
            "data": [
                ["SGU4", "RFUD", "SNGP-9.24", "Фьючерсный контракт SNGP-9.24", 61800, 0, 1.00000, "2024-09-19", "2024-09-20", "SG", "SNGP-9.24", "SNGP", 830, 1000, 15688.89, 69450.00000, 54150.00000, 1.00000, 61800, 61800, "2024-04-16 18:58:30", 12.24, 6.12, 4.08, 0.00],
                ["SiH5", "RFUD", "Si-3.25", "Фьючерсный контракт Si-3.25", 100900, 0, 1.00000, "2025-03-20", "2025-03-20", "Si", "Si-3.25", "Si", 20006, 1000, 16846.92, 109971.00000, 91829.00000, 1.00000, 100900, 100900, "2024-04-16 18:58:30", 4.66, 2.33, 1.55, 1.55],
            ]
        },
        "marketdata": {
            "metadata": {
                "SECID": {"type": "string", "bytes": 36, "max_size": 0},
                "BOARDID": {"type": "string", "bytes": 12, "max_size": 0},
                "BID": {"type": "double"},
                "OFFER": {"type": "double"},
                "SPREAD": {"type": "double"},
                "OPEN": {"type": "double"},
                "HIGH": {"type": "double"},
                "LOW": {"type": "double"},
                "LAST": {"type": "double"},
                "QUANTITY": {"type": "int32"},
                "LASTCHANGE": {"type": "double"},
                "SETTLEPRICE": {"type": "double"},
                "SETTLETOPREVSETTLE": {"type": "double"},
                "OPENPOSITION": {"type": "double"},
                "NUMTRADES": {"type": "int32"},
                "VOLTODAY": {"type": "int64"},
                "VALTODAY": {"type": "int64"},
                "VALTODAY_USD": {"type": "int64"},
                "UPDATETIME": {"type": "time", "bytes": 10, "max_size": 0},
                "LASTCHANGEPRCNT": {"type": "double"},
                "BIDDEPTH": {"type": "int32"},
                "BIDDEPTHT": {"type": "int32"},
                "NUMBIDS": {"type": "int32"},
                "OFFERDEPTH": {"type": "int32"},
                "OFFERDEPTHT": {"type": "int32"},
                "NUMOFFERS": {"type": "int32"},
                "TIME": {"type": "time", "bytes": 10, "max_size": 0},
                "SETTLETOPREVSETTLEPRC": {"type": "double"},
                "SEQNUM": {"type": "int64"},
                "SYSTIME": {"type": "datetime", "bytes": 19, "max_size": 0},
                "TRADEDATE": {"type": "date", "bytes": 10, "max_size": 0},
                "LASTTOPREVPRICE": {"type": "double"},
                "OICHANGE": {"type": "int64"},
                "OPENPERIODPRICE": {"type": "double"},
                "SWAPRATE": {"type": "double"}
            },
            "columns": ["SECID", "BOARDID", "BID", "OFFER", "SPREAD", "OPEN", "HIGH", "LOW", "LAST", "QUANTITY", "LASTCHANGE", "SETTLEPRICE", "SETTLETOPREVSETTLE", "OPENPOSITION", "NUMTRADES", "VOLTODAY", "VALTODAY", "VALTODAY_USD", "UPDATETIME", "LASTCHANGEPRCNT", "BIDDEPTH", "BIDDEPTHT", "NUMBIDS", "OFFERDEPTH", "OFFERDEPTHT", "NUMOFFERS", "TIME", "SETTLETOPREVSETTLEPRC", "SEQNUM", "SYSTIME", "TRADEDATE", "LASTTOPREVPRICE", "OICHANGE", "OPENPERIODPRICE", "SWAPRATE"], 
            "data": [
                ["SGU4", "RFUD", 61667, 62001, 334, 0, 0, 0, 0, 0, 0, 62001, 201, 830, 0, 0, 0, 0, "19:31:27", 0, 1, 119, 44, 1, 206, 49, "19:31:27", 0.32, 20240416193129, "2024-04-16 19:31:29", null, null, 0, 0.00000, 0.00000],
                ["SiH5", "RFUD", 100885, 101000, 115, 101000, 101000, 101000, 101000, 1, 0, 101000, 100, 20006, 1, 1, 101000, 1079, "19:33:17", 0, 1, 503, 64, 5, 665, 81, "19:06:17", 0.1, 20240416193318, "2024-04-16 19:33:18", "2024-04-16", 0.1, 0, 0.00000, 0.00000],
            ]
        },
        "dataversion": {
            "metadata": {
                "data_version": {"type": "int32"},
                "seqnum": {"type": "int64"}
            },
            "columns": ["data_version", "seqnum"], 
            "data": [
                [7967, 20240416193331]
            ]
        },
        "marketdata_yields": {
            "metadata": {
                "boardid": {"type": "string", "bytes": 12, "max_size": 0},
                "secid": {"type": "string", "bytes": 36, "max_size": 0}
            },
            "columns": ["boardid", "secid"], 
            "data": [

            ]
        }}
        
        ```            
        </details>

    
  /iss/engines/futures/markets/forts/boards/rfud/securities/{ticker}.json:
    get:
      tags:
        - Real-time market data - Фьючерсы
      summary: Торговая статистика за сегодня (один инструмент)
      parameters:
        - name: ticker
          in: path
          description: Короткий код фьючерса, например 'SiH5'
          required: true
          
      description: |
        Торговая статистика по одному выбранному фьючерсному контракту на текущий день
      
        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time торговая статистика      |
        | NOT AUTHORIZED   | 15 мин. задержанные данные и ограниченный набор полей |
        
        Блоки данных
          * securities - торговые параметры фьючерсов (наименорвание, шаг цены, лотность, ...)
          * marketdata - торговая статистика по фьючерсам (цены, объемы, ...)
        
        ```
        # пример
        https://iss.moex.com/iss/engines/futures/markets/forts/boards/rfud/securities/SiH5.json
        ```
        
        [описание метрик](../des/realtime#marketstatistics_1) | [Кастомизация запросов](/api_custom)
        
        <details><summary>
        пример ответа
        </summary>
        ```
        
        {
        "securities": {
            "metadata": {
                "SECID": {"type": "string", "bytes": 36, "max_size": 0},
                "BOARDID": {"type": "string", "bytes": 12, "max_size": 0},
                "SHORTNAME": {"type": "string", "bytes": 75, "max_size": 0},
                "SECNAME": {"type": "string", "bytes": 225, "max_size": 0},
                "PREVSETTLEPRICE": {"type": "double"},
                "DECIMALS": {"type": "int32"},
                "MINSTEP": {"type": "double"},
                "LASTTRADEDATE": {"type": "date", "bytes": 10, "max_size": 0},
                "LASTDELDATE": {"type": "date", "bytes": 10, "max_size": 0},
                "SECTYPE": {"type": "string", "bytes": 6, "max_size": 0},
                "LATNAME": {"type": "string", "bytes": 90, "max_size": 0},
                "ASSETCODE": {"type": "string", "bytes": 75, "max_size": 0},
                "PREVOPENPOSITION": {"type": "int64"},
                "LOTVOLUME": {"type": "int32"},
                "INITIALMARGIN": {"type": "double"},
                "HIGHLIMIT": {"type": "double"},
                "LOWLIMIT": {"type": "double"},
                "STEPPRICE": {"type": "double"},
                "LASTSETTLEPRICE": {"type": "double"},
                "PREVPRICE": {"type": "double"},
                "IMTIME": {"type": "datetime", "bytes": 19, "max_size": 0},
                "BUYSELLFEE": {"type": "double"},
                "SCALPERFEE": {"type": "double"},
                "NEGOTIATEDFEE": {"type": "double"},
                "EXERCISEFEE": {"type": "double"}
            },
            "columns": ["SECID", "BOARDID", "SHORTNAME", "SECNAME", "PREVSETTLEPRICE", "DECIMALS", "MINSTEP", "LASTTRADEDATE", "LASTDELDATE", "SECTYPE", "LATNAME", "ASSETCODE", "PREVOPENPOSITION", "LOTVOLUME", "INITIALMARGIN", "HIGHLIMIT", "LOWLIMIT", "STEPPRICE", "LASTSETTLEPRICE", "PREVPRICE", "IMTIME", "BUYSELLFEE", "SCALPERFEE", "NEGOTIATEDFEE", "EXERCISEFEE"], 
            "data": [
                ["SiH5", "RFUD", "Si-3.25", "Фьючерсный контракт Si-3.25", 100900, 0, 1.00000, "2025-03-20", "2025-03-20", "Si", "Si-3.25", "Si", 20006, 1000, 16846.92, 109971.00000, 91829.00000, 1.00000, 100900, 100900, "2024-04-16 18:58:30", 4.66, 2.33, 1.55, 1.55],
            ]
        },
        "marketdata": {
            "metadata": {
                "SECID": {"type": "string", "bytes": 36, "max_size": 0},
                "BOARDID": {"type": "string", "bytes": 12, "max_size": 0},
                "BID": {"type": "double"},
                "OFFER": {"type": "double"},
                "SPREAD": {"type": "double"},
                "OPEN": {"type": "double"},
                "HIGH": {"type": "double"},
                "LOW": {"type": "double"},
                "LAST": {"type": "double"},
                "QUANTITY": {"type": "int32"},
                "LASTCHANGE": {"type": "double"},
                "SETTLEPRICE": {"type": "double"},
                "SETTLETOPREVSETTLE": {"type": "double"},
                "OPENPOSITION": {"type": "double"},
                "NUMTRADES": {"type": "int32"},
                "VOLTODAY": {"type": "int64"},
                "VALTODAY": {"type": "int64"},
                "VALTODAY_USD": {"type": "int64"},
                "UPDATETIME": {"type": "time", "bytes": 10, "max_size": 0},
                "LASTCHANGEPRCNT": {"type": "double"},
                "BIDDEPTH": {"type": "int32"},
                "BIDDEPTHT": {"type": "int32"},
                "NUMBIDS": {"type": "int32"},
                "OFFERDEPTH": {"type": "int32"},
                "OFFERDEPTHT": {"type": "int32"},
                "NUMOFFERS": {"type": "int32"},
                "TIME": {"type": "time", "bytes": 10, "max_size": 0},
                "SETTLETOPREVSETTLEPRC": {"type": "double"},
                "SEQNUM": {"type": "int64"},
                "SYSTIME": {"type": "datetime", "bytes": 19, "max_size": 0},
                "TRADEDATE": {"type": "date", "bytes": 10, "max_size": 0},
                "LASTTOPREVPRICE": {"type": "double"},
                "OICHANGE": {"type": "int64"},
                "OPENPERIODPRICE": {"type": "double"},
                "SWAPRATE": {"type": "double"}
            },
            "columns": ["SECID", "BOARDID", "BID", "OFFER", "SPREAD", "OPEN", "HIGH", "LOW", "LAST", "QUANTITY", "LASTCHANGE", "SETTLEPRICE", "SETTLETOPREVSETTLE", "OPENPOSITION", "NUMTRADES", "VOLTODAY", "VALTODAY", "VALTODAY_USD", "UPDATETIME", "LASTCHANGEPRCNT", "BIDDEPTH", "BIDDEPTHT", "NUMBIDS", "OFFERDEPTH", "OFFERDEPTHT", "NUMOFFERS", "TIME", "SETTLETOPREVSETTLEPRC", "SEQNUM", "SYSTIME", "TRADEDATE", "LASTTOPREVPRICE", "OICHANGE", "OPENPERIODPRICE", "SWAPRATE"], 
            "data": [
                ["SiH5", "RFUD", 100885, 101000, 115, 101000, 101000, 101000, 101000, 1, 0, 101000, 100, 20006, 1, 1, 101000, 1079, "19:33:17", 0, 1, 503, 64, 5, 665, 81, "19:06:17", 0.1, 20240416193318, "2024-04-16 19:33:18", "2024-04-16", 0.1, 0, 0.00000, 0.00000],
            ]
        },
        "dataversion": {
            "metadata": {
                "data_version": {"type": "int32"},
                "seqnum": {"type": "int64"}
            },
            "columns": ["data_version", "seqnum"], 
            "data": [
                [7967, 20240416193331]
            ]
        },
        "marketdata_yields": {
            "metadata": {
                "boardid": {"type": "string", "bytes": 12, "max_size": 0},
                "secid": {"type": "string", "bytes": 36, "max_size": 0}
            },
            "columns": ["boardid", "secid"], 
            "data": [

            ]
        }}
        
        ```            
        </details>
          
  /iss/engines/futures/markets/forts/boards/rfud/securities/{ticker}/candles.json:
    get:
      tags:
        - Real-time market data - Фьючерсы
      summary: Свечи по инструменту
      parameters:
        - name: ticker
          in: path
          description: Короткий код фьючерса, например 'SiH5'
          required: true
        - name: from
          in: query
          description: Дата начала периода, например '2024-03-01'
          required: true
        - name: till
          in: query
          description: Дата окончания периода, например '2024-05-01'
          required: true
        - name: interval
          in: query
          description: |
            Период свечей:
              * 1 - 1 мин
              * 10 - 10 мин
              * 60 - 1 час
              * 24 - 1 день
              * 7 - 1 неделя
              * 31 - 1 месяц
          
          required: false
          default: 10
          
      description: |
        Свечи по одному указанному фьючерсному контракту
      
        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time                          |
        | NOT AUTHORIZED   | 15 мин. задержанные данные         |
        
        ```
        # пример
        https://iss.moex.com/iss/engines/futures/markets/forts/boards/rfud/securities/SiH5/candles.json?
        from=2024-04-15&
        till=2024-04-20&
        interval=60
        ```
        
        [описание метрик](../des/realtime#candles_1) | [Кастомизация запросов](/api_custom)
        
        <details><summary>
        пример ответа
        </summary>
        ```
        
        {
        "candles": {
            "metadata": {
                "open": {"type": "double"},
                "close": {"type": "double"},
                "high": {"type": "double"},
                "low": {"type": "double"},
                "value": {"type": "int64"},
                "volume": {"type": "double"},
                "begin": {"type": "datetime", "bytes": 19, "max_size": 0},
                "end": {"type": "datetime", "bytes": 19, "max_size": 0}
            },
            "columns": ["open", "close", "high", "low", "value", "volume", "begin", "end"], 
            "data": [
                [100849, 100950, 100950, 100849, 0, 12, "2024-04-15 10:00:00", "2024-04-15 10:47:02"],
                [100903, 100910, 100910, 100900, 0, 5, "2024-04-15 11:00:00", "2024-04-15 11:16:01"],
                [100910, 100751, 100910, 100751, 0, 21, "2024-04-15 12:00:00", "2024-04-15 12:43:02"],
                [100799, 100754, 100800, 100754, 0, 120, "2024-04-15 13:00:00", "2024-04-15 13:59:59"],
                [100753, 100100, 100754, 100100, 0, 1030, "2024-04-15 14:00:00", "2024-04-15 14:59:59"],
                [100100, 100517, 102413, 100100, 0, 2968, "2024-04-15 15:00:00", "2024-04-15 15:59:59"],
                [100517, 100525, 100600, 100517, 0, 1013, "2024-04-15 16:00:00", "2024-04-15 16:59:02"],
                [100503, 100294, 100503, 100291, 0, 235, "2024-04-15 17:00:00", "2024-04-15 17:59:01"],
                [100294, 100300, 100300, 100100, 0, 289, "2024-04-15 18:00:00", "2024-04-15 18:21:02"],
                [100349, 100450, 100450, 100349, 0, 6, "2024-04-15 19:00:00", "2024-04-15 19:29:01"],
                [100500, 100500, 100500, 100400, 0, 3, "2024-04-15 20:00:00", "2024-04-15 20:59:01"],
                [100401, 100600, 100600, 100400, 0, 19, "2024-04-15 21:00:00", "2024-04-15 21:59:59"],
                [100598, 100598, 100598, 100459, 0, 10, "2024-04-15 22:00:00", "2024-04-15 22:55:02"],
                [100599, 100600, 100699, 100599, 0, 15, "2024-04-15 23:00:00", "2024-04-15 23:49:01"],
                [100699, 100809, 100850, 100699, 0, 19, "2024-04-16 09:00:00", "2024-04-16 09:57:01"],
                [100726, 101000, 101000, 100724, 0, 12, "2024-04-16 10:00:00", "2024-04-16 10:55:02"],
                [100950, 101020, 101150, 100950, 0, 25, "2024-04-16 11:00:00", "2024-04-16 11:59:01"],
                [101020, 101150, 101200, 101000, 0, 23, "2024-04-16 12:00:00", "2024-04-16 12:46:01"],
                [101063, 101097, 101126, 101048, 0, 122, "2024-04-16 13:00:00", "2024-04-16 13:58:02"],
                [100988, 100954, 101250, 100933, 0, 1021, "2024-04-16 14:00:00", "2024-04-16 14:57:02"],
                [100954, 100954, 100954, 100950, 0, 13, "2024-04-16 15:00:00", "2024-04-16 15:15:02"],
                [100949, 100900, 100953, 100900, 0, 64, "2024-04-16 16:00:00", "2024-04-16 16:56:02"],
                [100900, 100954, 100955, 100900, 0, 1174, "2024-04-16 17:00:00", "2024-04-16 17:59:02"],
                [100903, 100900, 100903, 100900, 0, 716, "2024-04-16 18:00:00", "2024-04-16 18:41:02"],
                [101000, 101000, 101000, 101000, 0, 1, "2024-04-16 19:00:00", "2024-04-16 19:07:01"]
            ]
        }}
        
        ```            
        </details>
          
  /iss/engines/futures/markets/forts/boards/rfud/securities/{ticker}/orderbook.json:
    get:
      tags:
        - Real-time market data - Фьючерсы
      summary: Стакан котировок по инструменту
      parameters:
        - name: ticker
          in: path
          description: Короткий код фьючерса, например 'SiH5'
          required: true
          
      description: |
        Стакан котировок по одному указанному фьючерсному контракту
        
        20 уровней Buy, 20 уровней Sell
      
        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time стакан                   |
        | NOT AUTHORIZED   | Метод не доступен (Error 403). Необходима подписка |
        
        ```
        # пример
        https://iss.moex.com/iss/engines/futures/markets/forts/boards/rfud/securities/SiH5/orderbook.json
        ```
        
        [описание метрик](../des/realtime#orderbook_1) | [Кастомизация запросов](/api_custom)
        
        <details><summary>
        пример ответа
        </summary>
        ```
        {
        "orderbook": {
            "metadata": {
                "BOARDID": {"type": "string", "bytes": 12, "max_size": 0},
                "SECID": {"type": "string", "bytes": 12, "max_size": 0},
                "BUYSELL": {"type": "string", "bytes": 3, "max_size": 0},
                "PRICE": {"type": "int64"},
                "QUANTITY": {"type": "int64"},
                "SEQNUM": {"type": "int64"},
                "UPDATETIME": {"type": "time", "bytes": 10, "max_size": 0},
                "DECIMALS": {"type": "int64"}
            },
            "columns": ["BOARDID", "SECID", "BUYSELL", "PRICE", "QUANTITY", "SEQNUM", "UPDATETIME", "DECIMALS"], 
            "data": [
                ["RFUD", "SiH5", "B", 100097, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100100, 2, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100150, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100155, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100200, 2, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100250, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100300, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100350, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100400, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100450, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100500, 6, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100550, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100600, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100650, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100700, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100735, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100750, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100800, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100850, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "B", 100886, 11, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101000, 5, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101049, 2, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101050, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101148, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101150, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101249, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101250, 6, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101350, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101392, 10, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101399, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101450, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101475, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101500, 10, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101550, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101650, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101750, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101804, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101807, 2, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101850, 1, 20240416195149, "19:51:42", 0],
                ["RFUD", "SiH5", "S", 101950, 1, 20240416195149, "19:51:42", 0]
            ]
        },
        "dataversion": {
            "metadata": {
                "data_version": {"type": "int32"},
                "seqnum": {"type": "int64"}
            },
            "columns": ["data_version", "seqnum"], 
            "data": [
                [7967, 20240416195255]
            ]
        }}
        
        ```            
        </details>
          
  /iss/engines/futures/markets/forts/boards/rfud/securities/{ticker}/trades.json:
    get:
      tags:
        - Real-time market data - Фьючерсы
      summary: Все сделки по инструменту
      parameters:
        - name: ticker
          in: path
          description: Короткий код фьючерса, например 'SiH5'
          required: true
        - name: tradeno
          in: query
          description: Получить сделки, которые идут начиная с указанного 
          required: false
          
      description: |
        Все сделки по одному выбранному фьючерсному контракту за текущий торговый день

        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time сделки                   |
        | NOT AUTHORIZED   | 15 мин. задержанные данные         |

        ```
        # пример
        https://iss.moex.com/iss/engines/futures/markets/forts/boards/rfud/securities/SiH5/trades.json?
        tradeno=1892949429179125797

        # если не указывать ticker, сделки пойдут по всем акциям
        https://iss.moex.com/iss/engines/futures/markets/forts/boards/rfud/securities/trades.json?
        tradeno=1892949429179125797
        ```

        [описание метрик](../des/realtime#trades_1) | [Кастомизация запросов](/api_custom)

        <details><summary>
        пример ответа
        </summary>
        ```

        {
        "trades": {
            "metadata": {
                "TRADENO": {"type": "int64"},
                "BOARDNAME": {"type": "string", "bytes": 12, "max_size": 0},
                "SECID": {"type": "string", "bytes": 36, "max_size": 0},
                "TRADEDATE": {"type": "date", "bytes": 10, "max_size": 0},
                "TRADETIME": {"type": "time", "bytes": 10, "max_size": 0},
                "PRICE": {"type": "double"},
                "QUANTITY": {"type": "int32"},
                "SYSTIME": {"type": "datetime", "bytes": 19, "max_size": 0},
                "RECNO": {"type": "int64"},
                "OPENPOSITION": {"type": "int64"},
                "OFFMARKETDEAL": {"type": "int32"},
                "BUYSELL": {"type": "string", "bytes": 3, "max_size": 0}
            },
            "columns": ["TRADENO", "BOARDNAME", "SECID", "TRADEDATE", "TRADETIME", "PRICE", "QUANTITY", "SYSTIME", "RECNO", "OPENPOSITION", "OFFMARKETDEAL", "BUYSELL"], 
            "data": [
                [1892949429179121665, "RFUD", "SiM4", "2024-04-16", "19:05:00", 96265, 1, "2024-04-16 19:05:00", 257548791436, 6172640, 0, "S"],
                [1892949429179121666, "RFUD", "SiM4", "2024-04-16", "19:05:00", 96290, 1, "2024-04-16 19:05:00", 257548791499, 6172638, 0, "B"],
                [1892949429179121667, "RFUD", "SiM4", "2024-04-16", "19:05:00", 96261, 10, "2024-04-16 19:05:00", 257548793371, 6172658, 0, "S"],
                [1892949429179121668, "RFUD", "SiM4", "2024-04-16", "19:05:00", 96261, 10, "2024-04-16 19:05:00", 257548793382, 6172678, 0, "S"],
            ]
        },
        "dataversion": {
            "metadata": {
                "data_version": {"type": "int32"},
                "seqnum": {"type": "int64"}
            },
            "columns": ["data_version", "seqnum"], 
            "data": [
                [7967, 20240416195731]
            ]
        },
        "trades_yields": {
            "metadata": {
                "boardid": {"type": "string", "bytes": 12, "max_size": 0},
                "secid": {"type": "string", "bytes": 36, "max_size": 0}
            },
            "columns": ["boardid", "secid"], 
            "data": [

            ]
        }}

        ```            
        </details>
          
          
  
  
  
  #Super Candles 

  #eq
  /iss/datashop/algopack/eq/tradestats.json:
    get:
      tags:
        - Super Candles - Акции
      summary: Акции, tradestats
      parameters:
        - name: date
          in: query
          description: Дата торгов
          required: true
        - name: latest
          in: query
          description: флаг latest=1 возвращает последнюю пятиминутку за указанную дату 
          required: false
          
      description: |
        Метрики рассчитанные на основе потока сделок (tradestats)

        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | Метод не доступен (Error 403). Необходима подписка |

        ```
        # пример
        https://iss.moex.com/iss/datashop/algopack/eq/tradestats.json?date=2024-04-17

        # получить последнюю пятиминутку
        https://iss.moex.com/iss/datashop/algopack/eq/tradestats.json?date=2024-04-17&latest=1
        ```

        [описание метрик](../des/supercandles#tradestats)  |  [методология расчета](../method/supercandles#tradestats) | [Кастомизация запросов](/api_custom)

        <details><summary>
        пример ответа
        </summary>
        ```

        {
        "data": {
            "metadata": {
                "tradedate": {"type": "date", "bytes": 10, "max_size": 0},
                "tradetime": {"type": "time", "bytes": 10, "max_size": 0},
                "secid": {"type": "string", "bytes": 36, "max_size": 0},
                "pr_open": {"type": "double"},
                "pr_high": {"type": "double"},
                "pr_low": {"type": "double"},
                "pr_close": {"type": "double"},
                "pr_std": {"type": "double"},
                "vol": {"type": "int32"},
                "val": {"type": "double"},
                "trades": {"type": "int32"},
                "pr_vwap": {"type": "double"},
                "pr_change": {"type": "double"},
                "trades_b": {"type": "int32"},
                "trades_s": {"type": "int32"},
                "val_b": {"type": "double"},
                "val_s": {"type": "double"},
                "vol_b": {"type": "int64"},
                "vol_s": {"type": "int64"},
                "disb": {"type": "double"},
                "pr_vwap_b": {"type": "double"},
                "pr_vwap_s": {"type": "double"},
                "SYSTIME": {"type": "datetime", "bytes": 19, "max_size": 0}
            },
            "columns": ["tradedate", "tradetime", "secid", "pr_open", "pr_high", "pr_low", "pr_close", "pr_std", "vol", "val", "trades", "pr_vwap", "pr_change", "trades_b", "trades_s", "val_b", "val_s", "vol_b", "vol_s", "disb", "pr_vwap_b", "pr_vwap_s", "SYSTIME"], 
            "data": [
                ["2024-04-17", "10:05:00", "ABIO", 115.28, 115.5, 114.76, 115.14, 0.0008, 1625, 1869839, 74, 115.07, -0.1214, 30, 44, 710666, 1159173, 617, 1008, -0.24, 115.18, 115, "2024-04-17 10:05:12"],
                ["2024-04-17", "10:05:00", "ABRD", 296.6, 297.4, 296.6, 296.8, 0.0008, 175, 519874, 24, 297.1, 0.0674, 13, 11, 216988, 302886, 73, 102, -0.17, 297.2, 296.9, "2024-04-17 10:05:12"],
                ["2024-04-17", "10:05:00", "AFKS", 24.588, 24.93, 24.436, 24.811, 0.0002, 139772, 345836712, 4037, 24.743, 0.9069, 2368, 1669, 195117679, 150719033, 78773, 60999, 0.13, 24.77, 24.708, "2024-04-17 10:05:12"],
            ]
        },
        "data.cursor": {
            "metadata": {
                "INDEX": {"type": "int64"},
                "TOTAL": {"type": "int64"},
                "PAGESIZE": {"type": "int64"}
            },
            "columns": ["INDEX", "TOTAL", "PAGESIZE"], 
            "data": [
                [0, 1909, 1000]
            ]
        },
        "data.dates": {
            "metadata": {
                "from": {"type": "date", "bytes": 30, "max_size": 0},
                "till": {"type": "date", "bytes": 30, "max_size": 0}
            },
            "columns": ["from", "till"], 
            "data": [
                ["2020-01-03", "2024-04-17"]
            ]
        }}

        ```            
        </details>

    
  /iss/datashop/algopack/eq/tradestats/{ticker}.json:
    get:
      tags:
        - Super Candles - Акции
      summary: Акции, tradestats (один инструмент)
      parameters:
        - name: ticker
          in: path
          description: ticker_des
          required: true
        - name: from
          in: query
          description: Дата начала периода
          required: true
        - name: till
          in: query
          description: Дата окончания периода
          required: true
        - name: latest
          in: query
          description: флаг latest=1 возвращает последнюю пятиминутку за указанный период 
          required: false
          
      description: |
        Метрики рассчитанные на основе потока сделок (tradestats)

        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | Метод не доступен (Error 403). Необходима подписка |

        ```
        # пример
        https://iss.moex.com/iss/datashop/algopack/eq/tradestats/ABIO.json?
        from=2024-04-17&
        till=2024-04-19
        ```

        [описание метрик](../des/supercandles#tradestats)  |  [методология расчета](../method/supercandles#tradestats) | [Кастомизация запросов](/api_custom)

        <details><summary>
        пример ответа
        </summary>
        ```

        {
        "data": {
            "metadata": {
                "tradedate": {"type": "date", "bytes": 10, "max_size": 0},
                "tradetime": {"type": "time", "bytes": 10, "max_size": 0},
                "secid": {"type": "string", "bytes": 36, "max_size": 0},
                "pr_open": {"type": "double"},
                "pr_high": {"type": "double"},
                "pr_low": {"type": "double"},
                "pr_close": {"type": "double"},
                "pr_std": {"type": "double"},
                "vol": {"type": "int32"},
                "val": {"type": "double"},
                "trades": {"type": "int32"},
                "pr_vwap": {"type": "double"},
                "pr_change": {"type": "double"},
                "trades_b": {"type": "int32"},
                "trades_s": {"type": "int32"},
                "val_b": {"type": "double"},
                "val_s": {"type": "double"},
                "vol_b": {"type": "int64"},
                "vol_s": {"type": "int64"},
                "disb": {"type": "double"},
                "pr_vwap_b": {"type": "double"},
                "pr_vwap_s": {"type": "double"},
                "SYSTIME": {"type": "datetime", "bytes": 19, "max_size": 0}
            },
            "columns": ["tradedate", "tradetime", "secid", "pr_open", "pr_high", "pr_low", "pr_close", "pr_std", "vol", "val", "trades", "pr_vwap", "pr_change", "trades_b", "trades_s", "val_b", "val_s", "vol_b", "vol_s", "disb", "pr_vwap_b", "pr_vwap_s", "SYSTIME"], 
            "data": [
                ["2024-04-17", "10:05:00", "ABIO", 115.28, 115.5, 114.76, 115.14, 0.0008, 1625, 1869839, 74, 115.07, -0.1214, 30, 44, 710666, 1159173, 617, 1008, -0.24, 115.18, 115, "2024-04-17 10:05:12"],
            ]
        },
        "data.cursor": {
            "metadata": {
                "INDEX": {"type": "int64"},
                "TOTAL": {"type": "int64"},
                "PAGESIZE": {"type": "int64"}
            },
            "columns": ["INDEX", "TOTAL", "PAGESIZE"], 
            "data": [
                [0, 1909, 1000]
            ]
        },
        "data.dates": {
            "metadata": {
                "from": {"type": "date", "bytes": 30, "max_size": 0},
                "till": {"type": "date", "bytes": 30, "max_size": 0}
            },
            "columns": ["from", "till"], 
            "data": [
                ["2020-01-03", "2024-04-17"]
            ]
        }}

        ```            
        </details>
 
  /iss/datashop/algopack/eq/obstats.json:
    get:
      tags:
        - Super Candles - Акции
      summary: Акции, obstats
      parameters:
        - name: date
          in: query
          description: Дата торгов
          required: true
        - name: latest
          in: query
          description: флаг latest=1 возвращает последнюю пятиминутку за указанную дату 
          required: false
          
      description: |
        Метрики рассчитанные на основе стакана котировок (obstats)

        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | Метод не доступен (Error 403). Необходима подписка |

        ```
        # пример
        https://iss.moex.com/iss/datashop/algopack/eq/obstats.json?date=2024-04-17

        # получить последнюю пятиминутку
        https://iss.moex.com/iss/datashop/algopack/eq/obstats.json?date=2024-04-17&latest=1
        ```

        [описание метрик](../des/supercandles#obstats)  |  [методология расчета](../method/supercandles#orderbook-stats) | [Кастомизация запросов](/api_custom)

        <details><summary>
        пример ответа
        </summary>
        ```

        {
        "data": {
            "metadata": {
                "tradedate": {"type": "date", "bytes": 10, "max_size": 0},
                "tradetime": {"type": "time", "bytes": 10, "max_size": 0},
                "secid": {"type": "string", "bytes": 36, "max_size": 0},
                "spread_bbo": {"type": "double"},
                "spread_lv10": {"type": "double"},
                "spread_1mio": {"type": "double"},
                "levels_b": {"type": "int32"},
                "levels_s": {"type": "int32"},
                "vol_b": {"type": "int64"},
                "vol_s": {"type": "int64"},
                "val_b": {"type": "int64"},
                "val_s": {"type": "int64"},
                "imbalance_vol_bbo": {"type": "double"},
                "imbalance_val_bbo": {"type": "double"},
                "imbalance_vol": {"type": "double"},
                "imbalance_val": {"type": "double"},
                "vwap_b": {"type": "double"},
                "vwap_s": {"type": "double"},
                "vwap_b_1mio": {"type": "double"},
                "vwap_s_1mio": {"type": "double"},
                "SYSTIME": {"type": "datetime", "bytes": 19, "max_size": 0}
            },
            "columns": ["tradedate", "tradetime", "secid", "spread_bbo", "spread_lv10", "spread_1mio", "levels_b", "levels_s", "vol_b", "vol_s", "val_b", "val_s", "imbalance_vol_bbo", "imbalance_val_bbo", "imbalance_vol", "imbalance_val", "vwap_b", "vwap_s", "vwap_b_1mio", "vwap_s_1mio", "SYSTIME"], 
            "data": [
                ["2024-04-17", "10:05:00", "ABIO", 13.4, 75.8, 93.9, 246, 245, 19405, 20611, 21503237, 26737351, -0.24, -0.24, -0.03, -0.11, 110.81, 129.73, 114.7, 115.77, "2024-04-17 10:09:04"],
                ["2024-04-17", "10:05:00", "ABRD", 13.5, 187.2, 51.8, 182, 168, 6604, 9193, 18395815, 29418135, 0.27, 0.26, -0.16, -0.23, 278.5, 320, 296.6, 298.1, "2024-04-17 10:09:04"],
                ["2024-04-17", "10:05:00", "AFKS", 4.3, 21.6, 9.5, 901, 539, 130495, 93022, 304492024, 240055844, -0.12, -0.12, 0.17, 0.12, 23.325, 25.802, 24.721, 24.745, "2024-04-17 10:09:04"],
            ]
        },
        "data.cursor": {
            "metadata": {
                "INDEX": {"type": "int64"},
                "TOTAL": {"type": "int64"},
                "PAGESIZE": {"type": "int64"}
            },
            "columns": ["INDEX", "TOTAL", "PAGESIZE"], 
            "data": [
                [0, 3374, 1000]
            ]
        },
        "data.dates": {
            "metadata": {
                "from": {"type": "date", "bytes": 30, "max_size": 0},
                "till": {"type": "date", "bytes": 30, "max_size": 0}
            },
            "columns": ["from", "till"], 
            "data": [
                ["2020-01-03", "2024-04-17"]
            ]
        }}

        ```            
        </details>

    
  /iss/datashop/algopack/eq/obstats/{ticker}.json:
    get:
      tags:
        - Super Candles - Акции
      summary: Акции, obstats (один инструмент)
      parameters:
        - name: ticker
          in: path
          description: ticker_des
          required: true
        - name: from
          in: query
          description: Дата начала периода
          required: true
        - name: till
          in: query
          description: Дата окончания периода
          required: true
        - name: latest
          in: query
          description: флаг latest=1 возвращает последнюю пятиминутку за указанный период 
          required: false
          
      description: |
        Метрики рассчитанные на основе стакана котировок (obstats)

        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | Метод не доступен (Error 403). Необходима подписка |

        ```
        # пример
        https://iss.moex.com/iss/datashop/algopack/eq/obstats/ABIO.json?
        from=2024-04-17&
        till=2024-04-19
        ```

        [описание метрик](../des/supercandles#obstats)  |  [методология расчета](../method/supercandles#orderbook-stats) | [Кастомизация запросов](/api_custom)

        <details><summary>
        пример ответа
        </summary>
        ```

        {
        "data": {
            "metadata": {
                "tradedate": {"type": "date", "bytes": 10, "max_size": 0},
                "tradetime": {"type": "time", "bytes": 10, "max_size": 0},
                "secid": {"type": "string", "bytes": 36, "max_size": 0},
                "spread_bbo": {"type": "double"},
                "spread_lv10": {"type": "double"},
                "spread_1mio": {"type": "double"},
                "levels_b": {"type": "int32"},
                "levels_s": {"type": "int32"},
                "vol_b": {"type": "int64"},
                "vol_s": {"type": "int64"},
                "val_b": {"type": "int64"},
                "val_s": {"type": "int64"},
                "imbalance_vol_bbo": {"type": "double"},
                "imbalance_val_bbo": {"type": "double"},
                "imbalance_vol": {"type": "double"},
                "imbalance_val": {"type": "double"},
                "vwap_b": {"type": "double"},
                "vwap_s": {"type": "double"},
                "vwap_b_1mio": {"type": "double"},
                "vwap_s_1mio": {"type": "double"},
                "SYSTIME": {"type": "datetime", "bytes": 19, "max_size": 0}
            },
            "columns": ["tradedate", "tradetime", "secid", "spread_bbo", "spread_lv10", "spread_1mio", "levels_b", "levels_s", "vol_b", "vol_s", "val_b", "val_s", "imbalance_vol_bbo", "imbalance_val_bbo", "imbalance_vol", "imbalance_val", "vwap_b", "vwap_s", "vwap_b_1mio", "vwap_s_1mio", "SYSTIME"], 
            "data": [
                ["2024-04-17", "10:05:00", "ABIO", 13.4, 75.8, 93.9, 246, 245, 19405, 20611, 21503237, 26737351, -0.24, -0.24, -0.03, -0.11, 110.81, 129.73, 114.7, 115.77, "2024-04-17 10:09:04"],
            ]
        },
        "data.cursor": {
            "metadata": {
                "INDEX": {"type": "int64"},
                "TOTAL": {"type": "int64"},
                "PAGESIZE": {"type": "int64"}
            },
            "columns": ["INDEX", "TOTAL", "PAGESIZE"], 
            "data": [
                [0, 3374, 1000]
            ]
        },
        "data.dates": {
            "metadata": {
                "from": {"type": "date", "bytes": 30, "max_size": 0},
                "till": {"type": "date", "bytes": 30, "max_size": 0}
            },
            "columns": ["from", "till"], 
            "data": [
                ["2020-01-03", "2024-04-17"]
            ]
        }}

        ```            
        </details>
        
           
  /iss/datashop/algopack/eq/orderstats.json:
    get:
      tags:
        - Super Candles - Акции
      summary: Акции, orderstats
      parameters:
        - name: date
          in: query
          description: Дата торгов
          required: true
        - name: latest
          in: query
          description: флаг latest=1 возвращает последнюю пятиминутку за указанную дату 
          required: false
          
      description: |
        Метрики рассчитанные на основе потока заявок (orderstats)

        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | Метод не доступен (Error 403). Необходима подписка |

        ```
        # пример
        https://iss.moex.com/iss/datashop/algopack/eq/orderstats.json?date=2024-04-17

        # получить последнюю пятиминутку
        https://iss.moex.com/iss/datashop/algopack/eq/orderstats.json?date=2024-04-17&latest=1
        ```

        [описание метрик](../des/supercandles#orderstats)  |  [методология расчета](../method/supercandles#orderstats) | [Кастомизация запросов](/api_custom)

        <details><summary>
        пример ответа
        </summary>
        ```

        {
        "data": {
            "metadata": {
                "tradedate": {"type": "date", "bytes": 10, "max_size": 0},
                "tradetime": {"type": "time", "bytes": 10, "max_size": 0},
                "secid": {"type": "string", "bytes": 36, "max_size": 0},
                "put_orders_b": {"type": "int32"},
                "put_orders_s": {"type": "int32"},
                "put_val_b": {"type": "double"},
                "put_val_s": {"type": "double"},
                "put_vol_b": {"type": "int32"},
                "put_vol_s": {"type": "int32"},
                "put_vwap_b": {"type": "double"},
                "put_vwap_s": {"type": "double"},
                "put_vol": {"type": "int32"},
                "put_val": {"type": "double"},
                "put_orders": {"type": "int32"},
                "cancel_orders_b": {"type": "int32"},
                "cancel_orders_s": {"type": "int32"},
                "cancel_val_b": {"type": "double"},
                "cancel_val_s": {"type": "double"},
                "cancel_vol_b": {"type": "int32"},
                "cancel_vol_s": {"type": "int64"},
                "cancel_vwap_b": {"type": "double"},
                "cancel_vwap_s": {"type": "double"},
                "cancel_vol": {"type": "int64"},
                "cancel_val": {"type": "double"},
                "cancel_orders": {"type": "int64"},
                "SYSTIME": {"type": "datetime", "bytes": 19, "max_size": 0}
            },
            "columns": ["tradedate", "tradetime", "secid", "put_orders_b", "put_orders_s", "put_val_b", "put_val_s", "put_vol_b", "put_vol_s", "put_vwap_b", "put_vwap_s", "put_vol", "put_val", "put_orders", "cancel_orders_b", "cancel_orders_s", "cancel_val_b", "cancel_val_s", "cancel_vol_b", "cancel_vol_s", "cancel_vwap_b", "cancel_vwap_s", "cancel_vol", "cancel_val", "cancel_orders", "SYSTIME"], 
            "data": [
                ["2024-04-17", "11:15:00", "ABIO", 366, 189, 48799479, 48799479, 42646, 12694, 114.43, 116.01, 55340, 63525721, 555, 354, 158, 48797549, 48797549, 42426, 11180, 115.02, 117.11, 53606, 61890018, 512, "2024-04-17 11:15:15"],
                ["2024-04-17", "11:15:00", "ABRD", 225, 30, 35061852, 35061852, 11820, 710, 296.6, 296.1, 12530, 37163976, 255, 217, 19, 34750534, 34750534, 11697, 573, 297.1, 300.1, 12270, 36470132, 236, "2024-04-17 11:15:15"],
                ["2024-04-17", "11:15:00", "AFKS", 10166, 10883, 2490566653, 2490566653, 1016548, 1346458, 24.5, 24.575, 2363006, 5799549843, 21049, 9709, 10562, 2469407813, 2469407813, 1007234, 1337267, 24.517, 24.596, 2344501, 5758544379, 20271, "2024-04-17 11:15:15"],
            ]
        },
        "data.cursor": {
            "metadata": {
                "INDEX": {"type": "int64"},
                "TOTAL": {"type": "int64"},
                "PAGESIZE": {"type": "int64"}
            },
            "columns": ["INDEX", "TOTAL", "PAGESIZE"], 
            "data": [
                [0, 241, 1000]
            ]
        },
        "data.dates": {
            "metadata": {
                "from": {"type": "date", "bytes": 30, "max_size": 0},
                "till": {"type": "date", "bytes": 30, "max_size": 0}
            },
            "columns": ["from", "till"], 
            "data": [
                ["2020-01-03", "2024-04-17"]
            ]
        }}

        ```            
        </details>

    
  /iss/datashop/algopack/eq/orderstats/{ticker}.json:
    get:
      tags:
        - Super Candles - Акции
      summary: Акции, orderstats (один инструмент)
      parameters:
        - name: ticker
          in: path
          description: ticker_des
          required: true
        - name: from
          in: query
          description: Дата начала периода
          required: true
        - name: till
          in: query
          description: Дата окончания периода
          required: true
        - name: latest
          in: query
          description: флаг latest=1 возвращает последнюю пятиминутку за указанный период 
          required: false
          
      description: |
        Метрики рассчитанные на основе потока заявок (orderstats)

        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | Метод не доступен (Error 403). Необходима подписка |

        ```
        # пример
        https://iss.moex.com/iss/datashop/algopack/eq/orderstats/ABIO.json?
        from=2024-04-17&
        till=2024-04-19
        ```

        [описание метрик](../des/supercandles#orderstats)  |  [методология расчета](../method/supercandles#orderstats) | [Кастомизация запросов](/api_custom)

        <details><summary>
        пример ответа
        </summary>
        ```

        {
        "data": {
            "metadata": {
                "tradedate": {"type": "date", "bytes": 10, "max_size": 0},
                "tradetime": {"type": "time", "bytes": 10, "max_size": 0},
                "secid": {"type": "string", "bytes": 36, "max_size": 0},
                "put_orders_b": {"type": "int32"},
                "put_orders_s": {"type": "int32"},
                "put_val_b": {"type": "double"},
                "put_val_s": {"type": "double"},
                "put_vol_b": {"type": "int32"},
                "put_vol_s": {"type": "int32"},
                "put_vwap_b": {"type": "double"},
                "put_vwap_s": {"type": "double"},
                "put_vol": {"type": "int32"},
                "put_val": {"type": "double"},
                "put_orders": {"type": "int32"},
                "cancel_orders_b": {"type": "int32"},
                "cancel_orders_s": {"type": "int32"},
                "cancel_val_b": {"type": "double"},
                "cancel_val_s": {"type": "double"},
                "cancel_vol_b": {"type": "int32"},
                "cancel_vol_s": {"type": "int64"},
                "cancel_vwap_b": {"type": "double"},
                "cancel_vwap_s": {"type": "double"},
                "cancel_vol": {"type": "int64"},
                "cancel_val": {"type": "double"},
                "cancel_orders": {"type": "int64"},
                "SYSTIME": {"type": "datetime", "bytes": 19, "max_size": 0}
            },
            "columns": ["tradedate", "tradetime", "secid", "put_orders_b", "put_orders_s", "put_val_b", "put_val_s", "put_vol_b", "put_vol_s", "put_vwap_b", "put_vwap_s", "put_vol", "put_val", "put_orders", "cancel_orders_b", "cancel_orders_s", "cancel_val_b", "cancel_val_s", "cancel_vol_b", "cancel_vol_s", "cancel_vwap_b", "cancel_vwap_s", "cancel_vol", "cancel_val", "cancel_orders", "SYSTIME"], 
            "data": [
                ["2024-04-17", "11:15:00", "ABIO", 366, 189, 48799479, 48799479, 42646, 12694, 114.43, 116.01, 55340, 63525721, 555, 354, 158, 48797549, 48797549, 42426, 11180, 115.02, 117.11, 53606, 61890018, 512, "2024-04-17 11:15:15"],
            ]
        },
        "data.cursor": {
            "metadata": {
                "INDEX": {"type": "int64"},
                "TOTAL": {"type": "int64"},
                "PAGESIZE": {"type": "int64"}
            },
            "columns": ["INDEX", "TOTAL", "PAGESIZE"], 
            "data": [
                [0, 241, 1000]
            ]
        },
        "data.dates": {
            "metadata": {
                "from": {"type": "date", "bytes": 30, "max_size": 0},
                "till": {"type": "date", "bytes": 30, "max_size": 0}
            },
            "columns": ["from", "till"], 
            "data": [
                ["2020-01-03", "2024-04-17"]
            ]
        }}

        ```            
        </details>
          
          
  #fut
  /iss/datashop/algopack/fo/tradestats.json:
    get:
      tags:
        - Super Candles - Фьючерсы
      summary: Фьючерсы, tradestats
      parameters:
        - name: date
          in: query
          description: Дата торгов
          required: true
        - name: latest
          in: query
          description: флаг latest=1 возвращает последнюю пятиминутку за указанную дату 
          required: false
          
      description: |
        Метрики рассчитанные на основе потока сделок (tradestats)

        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | Метод не доступен (Error 403). Необходима подписка |

        ```
        # пример
        https://iss.moex.com/iss/datashop/algopack/fo/tradestats.json?date=2024-04-17

        # получить последнюю пятиминутку
        https://iss.moex.com/iss/datashop/algopack/fo/tradestats.json?date=2024-04-17&latest=1
        ```

        [описание метрик](../des/supercandles#tradestats_1)  |  [методология расчета](../method/supercandles#tradestats) | [Кастомизация запросов](/api_custom)

        <details><summary>
        пример ответа
        </summary>
        ```

        {
        "data": {
            "metadata": {
                "tradedate": {"type": "date", "bytes": 10, "max_size": 0},
                "tradetime": {"type": "time", "bytes": 10, "max_size": 0},
                "secid": {"type": "string", "bytes": 51, "max_size": 0},
                "asset_code": {"type": "string", "bytes": 36, "max_size": 0},
                "pr_open": {"type": "double"},
                "pr_high": {"type": "double"},
                "pr_low": {"type": "double"},
                "pr_close": {"type": "double"},
                "pr_std": {"type": "double"},
                "vol": {"type": "int64"},
                "val": {"type": "int64"},
                "trades": {"type": "int32"},
                "pr_vwap": {"type": "double"},
                "pr_change": {"type": "double"},
                "trades_b": {"type": "int32"},
                "trades_s": {"type": "int32"},
                "val_b": {"type": "double"},
                "val_s": {"type": "double"},
                "vol_b": {"type": "int64"},
                "vol_s": {"type": "int64"},
                "disb": {"type": "double"},
                "pr_vwap_b": {"type": "double"},
                "pr_vwap_s": {"type": "double"},
                "im": {"type": "double"},
                "oi_open": {"type": "int64"},
                "oi_high": {"type": "int64"},
                "oi_low": {"type": "int64"},
                "oi_close": {"type": "int64"},
                "sec_pr_open": {"type": "int32"},
                "sec_pr_high": {"type": "int32"},
                "sec_pr_low": {"type": "int32"},
                "sec_pr_close": {"type": "int32"},
                "SYSTIME": {"type": "datetime", "bytes": 19, "max_size": 0}
            },
            "columns": ["tradedate", "tradetime", "secid", "asset_code", "pr_open", "pr_high", "pr_low", "pr_close", "pr_std", "vol", "val", "trades", "pr_vwap", "pr_change", "trades_b", "trades_s", "val_b", "val_s", "vol_b", "vol_s", "disb", "pr_vwap_b", "pr_vwap_s", "im", "oi_open", "oi_high", "oi_low", "oi_close", "sec_pr_open", "sec_pr_high", "sec_pr_low", "sec_pr_close", "SYSTIME"], 
            "data": [
                ["2024-04-17", "09:05:00", "AFM4", "AFLT", 5109, 5109, 5087, 5105, 5.0915, 44, 224201, 15, 5095, -0.0783, 7, 8, 91757, 132444, 18, 26, -0.18, 5098, 5094, 2620, 54680, 54726, 54680, 54726, 4, 4, 253, 264, "2024-04-17 09:05:08"],
                ["2024-04-17", "09:05:00", "AFU4", "AFLT", 5281, 5281, 5281, 5281, null, 3, 15843, 1, 5281, 0, 0, 1, 0, 15843, 0, 3, -1, null, 5281, 2719, 4006, 4006, 4006, 4006, 163, 163, 163, 163, "2024-04-17 09:05:08"],
                ["2024-04-17", "09:05:00", "AKM4", "AFKS", 25053, 25300, 25053, 25300, 61.4636, 47, 1186534, 25, 25245, 0.9859, 24, 1, 1161481, 25053, 46, 1, 0.96, 25250, 25053, 12369, 9058, 9132, 9058, 9132, 22, 225, 22, 268, "2024-04-17 09:05:08"],
                ["2024-04-17", "09:05:00", "AKU4", "AFKS", 25603, 25603, 25603, 25603, null, 1, 25603, 1, 25603, 0, 0, 1, 0, 25603, 0, 1, -1, null, 25603, 12823, 736, 736, 736, 736, 104, 104, 104, 104, "2024-04-17 09:05:08"],
                ["2024-04-17", "09:05:00", "ALM4", "ALRS", 7673, 7673, 7673, 7673, 0, 10, 76730, 2, 7673, 0, 1, 1, 38365, 38365, 5, 5, 0, 7673, 7673, 2052, 114404, 114404, 114404, 114404, 206, 206, 206, 206, "2024-04-17 09:05:09"],
                ["2024-04-17", "09:05:00", "ASM4", "ASTR", 603, 604, 603, 604, 0.4082, 110, 66340, 6, 603, 0.1658, 4, 2, 62722, 3618, 104, 6, 0.89, 603, 603, 319, 140978, 141176, 140978, 141176, 51, 225, 51, 225, "2024-04-17 09:05:09"],
                ["2024-04-17", "09:05:00", "BRK4", "BR", 89.82, 89.87, 89.69, 89.69, 0.0546, 4163, 3959890, 1095, 951.21, -0.1447, 564, 531, 1550573.46, 2409316.5, 1630, 2533, -0.22, 951.27, 951.17, 18066.1, 229684, 230332, 229078, 229400, 1, 60, 272, 300, "2024-04-17 09:05:09"],
                ["2024-04-17", "09:05:00", "BRM4", "BR", 89.34, 89.45, 89.29, 89.29, 0.0448, 504, 476991, 250, 946.41, -0.056, 14, 236, 22715.18, 454275.78, 24, 480, -0.9, 946.47, 946.41, 18955.04, 51920, 51920, 51514, 51516, 1, 53, 299, 300, "2024-04-17 09:05:09"],
                ["2024-04-17", "09:05:00", "BRN4", "BR", 89.08, 89.13, 88.95, 89.06, 0.0645, 10, 9432, 10, 943.16, -0.0225, 3, 7, 2829.86, 6601.78, 3, 7, -0.4, 943.29, 943.11, 19433.85, 1974, 1974, 1970, 1970, 1, 164, 2, 271, "2024-04-17 09:05:09"],
                ["2024-04-17", "09:05:00", "BRQ4", "BR", 89.32, 89.32, 89.01, 89.01, 0.179, 3, 2832, 3, 943.99, -0.3471, 0, 3, 0, 2831.98, 0, 3, -1, null, 943.99, 19887.89, 1230, 1232, 1230, 1232, 2, 2, 271, 271, "2024-04-17 09:05:09"],
            ]
        },
        "data.cursor": {
            "metadata": {
                "INDEX": {"type": "int64"},
                "TOTAL": {"type": "int64"},
                "PAGESIZE": {"type": "int64"}
            },
            "columns": ["INDEX", "TOTAL", "PAGESIZE"], 
            "data": [
                [0, 4727, 1000]
            ]
        },
        "data.dates": {
            "metadata": {
                "from": {"type": "date", "bytes": 30, "max_size": 0},
                "till": {"type": "date", "bytes": 30, "max_size": 0}
            },
            "columns": ["from", "till"], 
            "data": [
                ["2023-12-28", "2024-04-17"]
            ]
        }}

        ```            
        </details>

    
  /iss/datashop/algopack/fo/tradestats/{ticker}.json:
    get:
      tags:
        - Super Candles - Фьючерсы
      summary: Фьючерсы, tradestats (один инструмент)
      parameters:
        - name: ticker
          in: path
          description: ticker_des
          required: true
        - name: from
          in: query
          description: Дата начала периода
          required: true
        - name: till
          in: query
          description: Дата окончания периода
          required: true
        - name: latest
          in: query
          description: флаг latest=1 возвращает последнюю пятиминутку за указанный период 
          required: false
          
      description: |
        Метрики рассчитанные на основе потока сделок (tradestats)

        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | Метод не доступен (Error 403). Необходима подписка |

        ```
        # пример
        https://iss.moex.com/iss/datashop/algopack/fo/tradestats/RIM4.json?
        from=2024-04-17&
        till=2024-04-19
        ```

        [описание метрик](../des/supercandles#tradestats_1)  |  [методология расчета](../method/supercandles#tradestats) | [Кастомизация запросов](/api_custom)

        <details><summary>
        пример ответа
        </summary>
        ```

        {
        "data": {
            "metadata": {
                "tradedate": {"type": "date", "bytes": 10, "max_size": 0},
                "tradetime": {"type": "time", "bytes": 10, "max_size": 0},
                "secid": {"type": "string", "bytes": 51, "max_size": 0},
                "asset_code": {"type": "string", "bytes": 36, "max_size": 0},
                "pr_open": {"type": "double"},
                "pr_high": {"type": "double"},
                "pr_low": {"type": "double"},
                "pr_close": {"type": "double"},
                "pr_std": {"type": "double"},
                "vol": {"type": "int64"},
                "val": {"type": "int64"},
                "trades": {"type": "int32"},
                "pr_vwap": {"type": "double"},
                "pr_change": {"type": "double"},
                "trades_b": {"type": "int32"},
                "trades_s": {"type": "int32"},
                "val_b": {"type": "double"},
                "val_s": {"type": "double"},
                "vol_b": {"type": "int64"},
                "vol_s": {"type": "int64"},
                "disb": {"type": "double"},
                "pr_vwap_b": {"type": "double"},
                "pr_vwap_s": {"type": "double"},
                "im": {"type": "double"},
                "oi_open": {"type": "int64"},
                "oi_high": {"type": "int64"},
                "oi_low": {"type": "int64"},
                "oi_close": {"type": "int64"},
                "sec_pr_open": {"type": "int32"},
                "sec_pr_high": {"type": "int32"},
                "sec_pr_low": {"type": "int32"},
                "sec_pr_close": {"type": "int32"},
                "SYSTIME": {"type": "datetime", "bytes": 19, "max_size": 0}
            },
            "columns": ["tradedate", "tradetime", "secid", "asset_code", "pr_open", "pr_high", "pr_low", "pr_close", "pr_std", "vol", "val", "trades", "pr_vwap", "pr_change", "trades_b", "trades_s", "val_b", "val_s", "vol_b", "vol_s", "disb", "pr_vwap_b", "pr_vwap_s", "im", "oi_open", "oi_high", "oi_low", "oi_close", "sec_pr_open", "sec_pr_high", "sec_pr_low", "sec_pr_close", "SYSTIME"], 
            "data": [
                ["2024-04-17", "10:00:00", "RIM4", "RTS", 114130, 114150, 114100, 114110, 16.3804, 158, 95506, 84, 604, -0.0175, 26, 58, 25391, 70115, 42, 116, -0.47, 605, 604, 39042, 82314, 82330, 82254, 82324, 3, 189, 255, 297, "2024-04-17 10:00:04"],
                ["2024-04-17", "10:05:00", "RIM4", "RTS", 114110, 114190, 114070, 114130, 34.7409, 580, 350609, 341, 604, 0.0175, 190, 151, 205556, 145053, 340, 240, 0.17, 605, 604, 39042, 82320, 82556, 82320, 82556, 1, 158, 44, 294, "2024-04-17 10:05:04"],
                ["2024-04-17", "10:10:00", "RIM4", "RTS", 114130, 114170, 114010, 114050, 38.3447, 1009, 609621, 428, 604, -0.0701, 137, 291, 155270, 454352, 257, 752, -0.49, 604, 604, 39042, 82562, 83028, 82506, 83028, 4, 74, 172, 300, "2024-04-17 10:10:04"],
                ["2024-04-17", "10:15:00", "RIM4", "RTS", 114040, 114080, 113920, 114060, 40.8595, 1327, 801213, 637, 604, 0.0175, 294, 343, 317630, 483583, 526, 801, -0.21, 604, 604, 39042, 83030, 83750, 82998, 83682, 1, 14, 69, 300, "2024-04-17 10:15:04"],
            ]
        },
        "data.cursor": {
            "metadata": {
                "INDEX": {"type": "int64"},
                "TOTAL": {"type": "int64"},
                "PAGESIZE": {"type": "int64"}
            },
            "columns": ["INDEX", "TOTAL", "PAGESIZE"], 
            "data": [
                [0, 57, 1000]
            ]
        },
        "data.dates": {
            "metadata": {
                "from": {"type": "date", "bytes": 30, "max_size": 0},
                "till": {"type": "date", "bytes": 30, "max_size": 0}
            },
            "columns": ["from", "till"], 
            "data": [
                [null, null]
            ]
        }}
          
          
  /iss/datashop/algopack/fo/obstats.json:
    get:
      tags:
        - Super Candles - Фьючерсы
      summary: Фьючерсы, obstats
      parameters:
        - name: date
          in: query
          description: Дата торгов
          required: true
        - name: latest
          in: query
          description: флаг latest=1 возвращает последнюю пятиминутку за указанную дату 
          required: false
          
      description: |
        Метрики рассчитанные на основе стакана котировок (obstats)

        | User Status      | Response                           |
        | ---------------- | -----------------------------------|
        | AUTHORIZED       | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | Метод не доступен (Error 403). Необходима подписка |

        ```
        # пример
        https://iss.moex.com/iss/datashop/algopack/fo/obstats.json?date=2024-04-17

        # получить последнюю пятиминутку
        https://iss.moex.com/iss/datashop/algopack/fo/obstats.json?date=2024-04-17&latest=1
        ```

        [описание метрик](../des/supercandles#obstats_1)  |  [методология расчета](../method/supercandles#orderbook-stats) | [Кастомизация запросов](/api_custom)

        <details><summary>
        пример ответа
        </summary>
        ```

        {
        "data": {
            "metadata": {
                "tradedate": {"type": "date", "bytes": 10, "max_size": 0},
                "tradetime": {"type": "time", "bytes": 10, "max_size": 0},
                "secid": {"type": "string", "bytes": 51, "max_size": 0},
                "asset_code": {"type": "string", "bytes": 36, "max_size": 0},
                "mid_price": {"type": "double"},
                "micro_price": {"type": "double"},
                "spread_l1": {"type": "double"},
                "spread_l2": {"type": "double"},
                "spread_l3": {"type": "double"},
                "spread_l5": {"type": "double"},
                "spread_l10": {"type": "double"},
                "spread_l20": {"type": "double"},
                "levels_b": {"type": "int32"},
                "levels_s": {"type": "int32"},
                "vol_b_l1": {"type": "int64"},
                "vol_b_l2": {"type": "int64"},
                "vol_b_l3": {"type": "int64"},
                "vol_b_l5": {"type": "int64"},
                "vol_b_l10": {"type": "int64"},
                "vol_b_l20": {"type": "int64"},
                "vol_s_l1": {"type": "int64"},
                "vol_s_l2": {"type": "int64"},
                "vol_s_l3": {"type": "int64"},
                "vol_s_l5": {"type": "int64"},
                "vol_s_l10": {"type": "int64"},
                "vol_s_l20": {"type": "int64"},
                "vwap_b_l3": {"type": "double"},
                "vwap_b_l5": {"type": "double"},
                "vwap_b_l10": {"type": "double"},
                "vwap_b_l20": {"type": "double"},
                "vwap_s_l3": {"type": "double"},
                "vwap_s_l5": {"type": "double"},
                "vwap_s_l10": {"type": "double"},
                "vwap_s_l20": {"type": "double"},
                "SYSTIME": {"type": "datetime", "bytes": 19, "max_size": 0}
            },
            "columns": ["tradedate", "tradetime", "secid", "asset_code", "mid_price", "micro_price", "spread_l1", "spread_l2", "spread_l3", "spread_l5", "spread_l10", "spread_l20", "levels_b", "levels_s", "vol_b_l1", "vol_b_l2", "vol_b_l3", "vol_b_l5", "vol_b_l10", "vol_b_l20", "vol_s_l1", "vol_s_l2", "vol_s_l3", "vol_s_l5", "vol_s_l10", "vol_s_l20", "vwap_b_l3", "vwap_b_l5", "vwap_b_l10", "vwap_b_l20", "vwap_s_l3", "vwap_s_l5", "vwap_s_l10", "vwap_s_l20", "SYSTIME"], 
            "data": [
                ["2024-04-17", "13:50:00", "AEH5", "AED", 27.251, 27.251, 1799.5, null, null, null, null, null, 2, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, null, null, null, null, null, null, null, null, "2024-04-17 13:50:01"],
                ["2024-04-17", "13:50:00", "AEM4", "AED", 26.12, 26.12, 20.7, 23.8, 276.2, 583.8, null, null, 10, 7, 1, 100, 2, 2, 23, 0, 1, 100, 2, 2, 0, 0, 26085.854, 26054.685, 25527.855, null, 26160.398, 26181.299, null, null, "2024-04-17 13:50:01"],
                ["2024-04-17", "13:50:00", "AEU4", "AED", 26.763, 26.763, 1234.2, 1634.7, 1668.5, null, null, null, 7, 4, 1, 1, 1, 1, 0, 0, 1, 1, 30, 0, 0, 0, 24629, 24487.6, null, null, 28394.938, null, null, null, "2024-04-17 13:50:01"],
[...]
