openapi: 3.0.3
info:
  title: ALGOPACK API
  description: ALGOPACK API
  version: 1.0.0
servers:
  - url: https://apim.moex.com

tags:
  - name: Real-time market data - Акции
    description: Свечи, стаканы, сделки
  - name: Real-time market data - Фьючерсы
    description: Свечи, стаканы, сделки
  - name: Super Candles - Акции
    description: фичи на потоке сделок, заявок и стакана котировок
  - name: Super Candles - Фьючерсы
    description: фичи на потоке сделок, заявок и стакана котировок
  - name: Super Candles - Валюта
    description: фичи на потоке сделок, заявок и стакана котировок
  - name: Futures Open Interest (FUTOI)
    description: Открытые позиции физ. и юр. лиц
  - name: Market Concentration (HI2)
    description: Индекс рыночной концентрации
  - name: Mega Alerts
    description: Торговые аномалии

paths:
  /iss/engines/stock/markets/shares/boards/tqbr/securities.json:
    get:
      tags:
        - Real-time market data - Акции
      summary: Торговая статистика за сегодня (по всем акциям)
      operationId: getAllSharesStatistics
      parameters:
        - name: start
          in: query
          schema:
            type: integer
            default: 0
          description: Начальный индекс для пагинации.
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
          description: Количество возвращаемых записей.
      security:
        - bearerAuth: []
      description: |
        Торговая статистика по всем акциям на текущий день.

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time торговая статистика      |
        | NOT AUTHORIZED   | iss    | 15 мин. задержанные данные и ограниченный набор полей |

        Блоки данных:
          * securities - торговые параметры акций (наименование, шаг цены, лотность, ...)
          * marketdata - торговая статистика по акциям (цены, объемы, ...)
                
        [Описание метрик](/docs/description/realtime#marketstatistics) 
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketStatisticsResponse'
              example:
                securities:
                  metadata:
                    SECID: { type: string, bytes: 36, max_size: 0 }
                    BOARDID: { type: string, bytes: 12, max_size: 0 }
                    SHORTNAME: { type: string, bytes: 30, max_size: 0 }
                    PREVPRICE: { type: double }
                    LOTSIZE: { type: int32 }
                    FACEVALUE: { type: double }
                    STATUS: { type: string, bytes: 3, max_size: 0 }
                    BOARDNAME: { type: string, bytes: 381, max_size: 0 }
                    DECIMALS: { type: int32 }
                    SECNAME: { type: string, bytes: 90, max_size: 0 }
                    REMARKS: { type: string, bytes: 24, max_size: 0 }
                    MARKETCODE: { type: string, bytes: 12, max_size: 0 }
                    INSTRID: { type: string, bytes: 12, max_size: 0 }
                    SECTORID: { type: string, bytes: 12, max_size: 0 }
                    MINSTEP: { type: double }
                    PREVWAPRICE: { type: double }
                    FACEUNIT: { type: string, bytes: 12, max_size: 0 }
                    PREVDATE: { type: date, bytes: 10, max_size: 0 }
                    ISSUESIZE: { type: int64 }
                    ISIN: { type: string, bytes: 36, max_size: 0 }
                    LATNAME: { type: string, bytes: 90, max_size: 0 }
                    REGNUMBER: { type: string, bytes: 90, max_size: 0 }
                    PREVLEGALCLOSEPRICE: { type: double }
                    CURRENCYID: { type: string, bytes: 12, max_size: 0 }
                    SECTYPE: { type: string, bytes: 3, max_size: 0 }
                    LISTLEVEL: { type: int32 }
                    SETTLEDATE: { type: date, bytes: 10, max_size: 0 }
                  columns:
                    - SECID
                    - BOARDID
                    - SHORTNAME
                    - PREVPRICE
                    - LOTSIZE
                    - FACEVALUE
                    - STATUS
                    - BOARDNAME
                    - DECIMALS
                    - SECNAME
                    - REMARKS
                    - MARKETCODE
                    - INSTRID
                    - SECTORID
                    - MINSTEP
                    - PREVWAPRICE
                    - FACEUNIT
                    - PREVDATE
                    - ISSUESIZE
                    - ISIN
                    - LATNAME
                    - REGNUMBER
                    - PREVLEGALCLOSEPRICE
                    - CURRENCYID
                    - SECTYPE
                    - LISTLEVEL
                    - SETTLEDATE
                  data:
                    - ["ABIO", "TQBR", "iАРТГЕН ао", 67.82, 10, 0.1, "A", "Т+: Акции и ДР - безадрес.", 2, "ПАО \"Артген\"", null, "FNDT", "EQIN", null, 0.02, 67.72, "SUR", "2026-01-08", 92645451, "RU000A0JNAB6", "ARTGEN ao", "1-01-08902-A", 67.66, "SUR", "1", 2, "2026-01-12"]
                    - ["ABRD", "TQBR", "АбрауДюрсо", 159.8, 10, 1, "A", "Т+: Акции и ДР - безадрес.", 1, "Абрау-Дюрсо ПАО ао", null, "FNDT", "EQIN", null, 0.2, 158.8, "SUR", "2026-01-08", 108889117, "RU000A0JS5T7", "Abrau-Durso ao", "1-02-12500-A", 158.8, "SUR", "1", 3, "2026-01-12"]
                    - ["AFKS", "TQBR", "Система ао", 12.762, 100, 0.09, "A", "Т+: Акции и ДР - безадрес.", 3, "АФК \"Система\" ПАО ао", null, "FNDT", "EQIN", null, 0.001, 12.783, "SUR", "2026-01-08", 9650000000, "RU000A0DQZE3", "AFK Sistema", "1-05-01669-A", 12.768, "SUR", "1", 1, "2026-01-12"]
                    - ["AFLT", "TQBR", "Аэрофлот", 56.58, 10, 1, "A", "Т+: Акции и ДР - безадрес.", 2, "Аэрофлот-росс.авиалин(ПАО)ао", null, "FNDT", "EQIN", null, 0.01, 56.55, "SUR", "2026-01-08", 3975771215, "RU0009062285", "Aeroflot", "1-01-00010-A", 56.61, "SUR", "1", 1, "2026-01-12"]
                    - ["AKRN", "TQBR", "Акрон", 18012, 1, 5, "A", "Т+: Акции и ДР - безадрес.", 0, "Акрон ПАО ао", null, "FNDT", "EQIN", null, 2, 18008, "SUR", "2026-01-08", 36757156, "RU0009028674", "Acron", "1-03-00207-A", 18018, "SUR", "1", 2, "2026-01-12"]
                marketdata:
                  metadata:
                    SECID: { type: string, bytes: 36, max_size: 0 }
                    BOARDID: { type: string, bytes: 12, max_size: 0 }
                    BID: { type: double }
                    BIDDEPTH: { type: int64 }
                    OFFER: { type: double }
                    OFFERDEPTH: { type: int64 }
                    SPREAD: { type: double }
                    BIDDEPTHT: { type: int64 }
                    OFFERDEPTHT: { type: int64 }
                    OPEN: { type: double }
                    LOW: { type: double }
                    HIGH: { type: double }
                    LAST: { type: double }
                    LASTCHANGE: { type: double }
                    LASTCHANGEPRCNT: { type: double }
                    QTY: { type: int32 }
                    VALUE: { type: double }
                    VALUE_USD: { type: double }
                    WAPRICE: { type: double }
                    LASTCNGTOLASTWAPRICE: { type: double }
                    WAPTOPREVWAPRICEPRCNT: { type: double }
                    WAPTOPREVWAPRICE: { type: double }
                    CLOSEPRICE: { type: double }
                    MARKETPRICETODAY: { type: double }
                    MARKETPRICE: { type: double }
                    LASTTOPREVPRICE: { type: double }
                    NUMTRADES: { type: int32 }
                    VOLTODAY: { type: int64 }
                    VALTODAY: { type: int64 }
                    VALTODAY_USD: { type: int64 }
                    ETFSETTLEPRICE: { type: double }
                    TRADINGSTATUS: { type: string, bytes: 3, max_size: 0 }
                    UPDATETIME: { type: time, bytes: 10, max_size: 0 }
                    LASTBID: { type: double }
                    LASTOFFER: { type: double }
                    LCLOSEPRICE: { type: double }
                    LCURRENTPRICE: { type: double }
                    MARKETPRICE2: { type: double }
                    NUMBIDS: { type: int32 }
                    NUMOFFERS: { type: int32 }
                    CHANGE: { type: double }
                    TIME: { type: time, bytes: 10, max_size: 0 }
                    HIGHBID: { type: double }
                    LOWOFFER: { type: double }
                    PRICEMINUSPREVWAPRICE: { type: double }
                    OPENPERIODPRICE: { type: double }
                    SEQNUM: { type: int64 }
                    SYSTIME: { type: datetime, bytes: 19, max_size: 0 }
                    CLOSINGAUCTIONPRICE: { type: double }
                    CLOSINGAUCTIONVOLUME: { type: double }
                    ISSUECAPITALIZATION: { type: double }
                    ISSUECAPITALIZATION_UPDATETIME: { type: time, bytes: 10, max_size: 0 }
                    ETFSETTLECURRENCY: { type: string, bytes: 18, max_size: 0 }
                    VALTODAY_RUR: { type: int64 }
                    TRADINGSESSION: { type: string, bytes: 3, max_size: 0 }
                    TRENDISSUECAPITALIZATION: { type: double }
                  columns:
                    - SECID
                    - BOARDID
                    - BID
                    - BIDDEPTH
                    - OFFER
                    - OFFERDEPTH
                    - SPREAD
                    - BIDDEPTHT
                    - OFFERDEPTHT
                    - OPEN
                    - LOW
                    - HIGH
                    - LAST
                    - LASTCHANGE
                    - LASTCHANGEPRCNT
                    - QTY
                    - VALUE
                    - VALUE_USD
                    - WAPRICE
                    - LASTCNGTOLASTWAPRICE
                    - WAPTOPREVWAPRICEPRCNT
                    - WAPTOPREVWAPRICE
                    - CLOSEPRICE
                    - MARKETPRICETODAY
                    - MARKETPRICE
                    - LASTTOPREVPRICE
                    - NUMTRADES
                    - VOLTODAY
                    - VALTODAY
                    - VALTODAY_USD
                    - ETFSETTLEPRICE
                    - TRADINGSTATUS
                    - UPDATETIME
                    - LASTBID
                    - LASTOFFER
                    - LCLOSEPRICE
                    - LCURRENTPRICE
                    - MARKETPRICE2
                    - NUMBIDS
                    - NUMOFFERS
                    - CHANGE
                    - TIME
                    - HIGHBID
                    - LOWOFFER
                    - PRICEMINUSPREVWAPRICE
                    - OPENPERIODPRICE
                    - SEQNUM
                    - SYSTIME
                    - CLOSINGAUCTIONPRICE
                    - CLOSINGAUCTIONVOLUME
                    - ISSUECAPITALIZATION
                    - ISSUECAPITALIZATION_UPDATETIME
                    - ETFSETTLECURRENCY
                    - VALTODAY_RUR
                    - TRADINGSESSION
                    - TRENDISSUECAPITALIZATION
                  data:
                    - ["ABIO", "TQBR", null, 0, null, 0, 0, 0, 0, 67.82, 67.7, 68.46, 67.98, -0.02, -0.03, 1, 679.80, 8.69, 68.14, 0.26, 0.62, 0.42, null, 68.16, 67.74, 0.24, 517, 42310, 2883348, 36859, null, "N", "23:50:18", 67.98, 68, 68.14, 67.98, 68.16, 0, 0, 0.16, "23:48:56", 70.78, 65.48, 0.26, null, 20260109235038, "2026-01-09 23:50:38", 68.14, null, 6298037758.98, "23:48:56", null, 2883348, null, 0]
                    - ["ABRD", "TQBR", null, 0, null, 0, 0, 0, 0, 159.4, 159, 160.6, 159.6, -0.4, -0.25, 1, 1596.00, 20.4, 160, 0.8, 0.76, 1.2, null, 160, 158.8, -0.13, 259, 22370, 3578870, 45750, null, "N", "23:50:18", 159.6, 159.8, 159.2, 160, 160, 0, 0, -0.2, "23:48:56", 174.2, 158, 0.8, null, 20260109235038, "2026-01-09 23:50:38", 159.2, 10, 17378703073.2, "23:48:56", null, 3578870, null, 0]
                    - ["AFKS", "TQBR", null, 0, null, 0, 0, 0, 0, 12.766, 12.703, 13.1, 12.943, -0.014, -0.11, 14, 18120.20, 231.64, 12.94, 0.16, 1.23, 0.157, null, 12.961, 12.771, 1.42, 12767, 31782000, 411253856, 5257206, null, "N", "23:50:18", 12.936, 12.943, 12.966, 12.939, 12.961, 0, 0, 0.181, "23:49:57", 13.969, 12, 0.16, 12.766, 20260109235038, "2026-01-09 23:50:38", 12.966, 200, 124899950000, "23:49:57", null, 411253856, null, 0]
                    - ["AFLT", "TQBR", null, 0, null, 0, 0, 0, 0, 56.58, 56.58, 57.6, 57.25, 0.01, 0.02, 1, 572.50, 7.32, 57.27, 0.7, 1.27, 0.72, null, 57.34, 56.55, 1.18, 21076, 15895340, 910276234, 11636388, null, "N", "23:50:18", 57.21, 57.25, 57.24, 57.22, 57.34, 0, 0, 0.67, "23:49:54", 63.74, 51.9, 0.7, 56.58, 20260109235038, "2026-01-09 23:50:38", 57.24, 7610, 227612902058.75, "23:49:54", null, 910276234, null, 0]
                    - ["AKRN", "TQBR", null, 0, null, 0, 0, 0, 0, 18034, 17920, 18056, 18056, 10, 0.06, 1, 18056.00, 230.82, 18010, 48, 0.01, 2, null, 18008, 18010, 0.24, 49, 76, 1368780, 17498, null, "N", "23:50:18", 18020, 18054, 18014, 18048, 18008, 0, 0, 44, "23:49:51", 18108, 17914, 48, null, 20260109235038, "2026-01-09 23:50:38", 18014, 9, 663687208736, "23:49:51", null, 1368780, null, 0]
                dataversion:
                  metadata:
                    data_version: { type: int32 }
                    seqnum: { type: int64 }
                    trade_date: { type: date, bytes: 10, max_size: 0 }
                    trade_session_date: { type: date, bytes: 10, max_size: 0 }
                  columns:
                    - TRADENO
                    - BOARDNAME
                    - SECID
                    - TRADEDATE
                    - TRADETIME
                    - PRICE
                    - QUANTITY
                    - SYSTIME
                    - RECNO
                    - OPENPOSITION
                    - OFFMARKETDEAL
                    - BUYSELL
                    - TRADE_SESSION_DATE
                  data:
                    - [1892951323259699201, "RFUD", "SiH6", "2026-01-09", "19:05:00", 79890, 1, "2026-01-12 08:00:12", 303522640475, 9218192, 0, "S", "2026-01-12"]
                    - [1892951323259699202, "RFUD", "SiH6", "2026-01-09", "19:05:00", 79924, 1, "2026-01-12 08:00:12", 303522641622, 9218192, 0, "B", "2026-01-12"]
                    - [1892951323259699203, "RFUD", "SiH6", "2026-01-09", "19:05:00", 79916, 2, "2026-01-12 08:00:12", 303522642308, 9218196, 0, "S", "2026-01-12"]
                    - [1892951323259699204, "RFUD", "SiH6", "2026-01-09", "19:05:00", 79915, 8, "2026-01-12 08:00:12", 303522642312, 9218212, 0, "S", "2026-01-12"]
                    - [1892951323259699205, "RFUD", "SiH6", "2026-01-09", "19:05:00", 79915, 2, "2026-01-12 08:00:12", 303522642316, 9218216, 0, "S", "2026-01-12"]
        '401':
          description: Unauthorized
        

  /iss/engines/stock/markets/shares/boards/tqbr/securities/{ticker}.json:
    get:
      tags:
        - Real-time market data - Акции
      summary: Торговая статистика за сегодня (по одной указанной акции)
      operationId: getShareStatistics
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Код ценной бумаги, например 'SBER'
          default: SBER
      security:
        - bearerAuth: []
      description: |-
        Торговая статистика по одной указанной акции на текущий день.

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time                          |
        | NOT AUTHORIZED   | iss    | 15 мин. задержанные данные         |
      
        [Описание метрик](/docs/description/realtime#marketstatistics) 
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketStatisticsResponse'
              example:
                securities:
                  metadata:
                    SECID: { type: string, bytes: 36, max_size: 0 }
                    BOARDID: { type: string, bytes: 12, max_size: 0 }
                    SHORTNAME: { type: string, bytes: 30, max_size: 0 }
                    PREVPRICE: { type: double }
                    LOTSIZE: { type: int32 }
                    FACEVALUE: { type: double }
                    STATUS: { type: string, bytes: 3, max_size: 0 }
                    BOARDNAME: { type: string, bytes: 381, max_size: 0 }
                    DECIMALS: { type: int32 }
                    SECNAME: { type: string, bytes: 90, max_size: 0 }
                    REMARKS: { type: string, bytes: 24, max_size: 0 }
                    MARKETCODE: { type: string, bytes: 12, max_size: 0 }
                    INSTRID: { type: string, bytes: 12, max_size: 0 }
                    SECTORID: { type: string, bytes: 12, max_size: 0 }
                    MINSTEP: { type: double }
                    PREVWAPRICE: { type: double }
                    FACEUNIT: { type: string, bytes: 12, max_size: 0 }
                    PREVDATE: { type: date, bytes: 10, max_size: 0 }
                    ISSUESIZE: { type: int64 }
                    ISIN: { type: string, bytes: 36, max_size: 0 }
                    LATNAME: { type: string, bytes: 90, max_size: 0 }
                    REGNUMBER: { type: string, bytes: 90, max_size: 0 }
                    PREVLEGALCLOSEPRICE: { type: double }
                    CURRENCYID: { type: string, bytes: 12, max_size: 0 }
                    SECTYPE: { type: string, bytes: 3, max_size: 0 }
                    LISTLEVEL: { type: int32 }
                    SETTLEDATE: { type: date, bytes: 10, max_size: 0 }
                  columns:
                    - SECID
                    - BOARDID
                    - SHORTNAME
                    - PREVPRICE
                    - LOTSIZE
                    - FACEVALUE
                    - STATUS
                    - BOARDNAME
                    - DECIMALS
                    - SECNAME
                    - REMARKS
                    - MARKETCODE
                    - INSTRID
                    - SECTORID
                    - MINSTEP
                    - PREVWAPRICE
                    - FACEUNIT
                    - PREVDATE
                    - ISSUESIZE
                    - ISIN
                    - LATNAME
                    - REGNUMBER
                    - PREVLEGALCLOSEPRICE
                    - CURRENCYID
                    - SECTYPE
                    - LISTLEVEL
                    - SETTLEDATE
                  data:
                    - [SBER, TQBR, Сбербанк, 298, 1, 3, A, Т+: Акции и ДР - безадрес., 2, Сбербанк России ПАО ао, null, FNDT, EQIN, null, 0.01, 297.63, SUR, 2026-01-08, 21586948000, RU0009029540, Sberbank, 10301481B, 298.22, SUR, 1, 1, 2026-01-12]
                marketdata:
                  metadata:
                    SECID: { type: string, bytes: 36, max_size: 0 }
                    BOARDID: { type: string, bytes: 12, max_size: 0 }
                    BID: { type: double }
                    BIDDEPTH: { type: int64 }
                    OFFER: { type: double }
                    OFFERDEPTH: { type: int64 }
                    SPREAD: { type: double }
                    BIDDEPTHT: { type: int64 }
                    OFFERDEPTHT: { type: int64 }
                    OPEN: { type: double }
                    LOW: { type: double }
                    HIGH: { type: double }
                    LAST: { type: double }
                    LASTCHANGE: { type: double }
                    LASTCHANGEPRCNT: { type: double }
                    QTY: { type: int32 }
                    VALUE: { type: double }
                    VALUE_USD: { type: double }
                    WAPRICE: { type: double }
                    LASTCNGTOLASTWAPRICE: { type: double }
                    WAPTOPREVWAPRICEPRCNT: { type: double }
                    WAPTOPREVWAPRICE: { type: double }
                    CLOSEPRICE: { type: double }
                    MARKETPRICETODAY: { type: double }
                    MARKETPRICE: { type: double }
                    LASTTOPREVPRICE: { type: double }
                    NUMTRADES: { type: int32 }
                    VOLTODAY: { type: int64 }
                    VALTODAY: { type: int64 }
                    VALTODAY_USD: { type: int64 }
                    ETFSETTLEPRICE: { type: double }
                    TRADINGSTATUS: { type: string, bytes: 3, max_size: 0 }
                    UPDATETIME: { type: time, bytes: 10, max_size: 0 }
                    LASTBID: { type: double }
                    LASTOFFER: { type: double }
                    LCLOSEPRICE: { type: double }
                    LCURRENTPRICE: { type: double }
                    MARKETPRICE2: { type: double }
                    NUMBIDS: { type: int32 }
                    NUMOFFERS: { type: int32 }
                    CHANGE: { type: double }
                    TIME: { type: time, bytes: 10, max_size: 0 }
                    HIGHBID: { type: double }
                    LOWOFFER: { type: double }
                    PRICEMINUSPREVWAPRICE: { type: double }
                    OPENPERIODPRICE: { type: double }
                    SEQNUM: { type: int64 }
                    SYSTIME: { type: datetime, bytes: 19, max_size: 0 }
                    CLOSINGAUCTIONPRICE: { type: double }
                    CLOSINGAUCTIONVOLUME: { type: double }
                    ISSUECAPITALIZATION: { type: double }
                    ISSUECAPITALIZATION_UPDATETIME: { type: time, bytes: 10, max_size: 0 }
                    ETFSETTLECURRENCY: { type: string, bytes: 18, max_size: 0 }
                    VALTODAY_RUR: { type: int64 }
                    TRADINGSESSION: { type: string, bytes: 3, max_size: 0 }
                    TRENDISSUECAPITALIZATION: { type: double }
                  columns:
                    - SECID
                    - BOARDID
                    - BID
                    - BIDDEPTH
                    - OFFER
                    - OFFERDEPTH
                    - SPREAD
                    - BIDDEPTHT
                    - OFFERDEPTHT
                    - OPEN
                    - LOW
                    - HIGH
                    - LAST
                    - LASTCHANGE
                    - LASTCHANGEPRCNT
                    - QTY
                    - VALUE
                    - VALUE_USD
                    - WAPRICE
                    - LASTCNGTOLASTWAPRICE
                    - WAPTOPREVWAPRICEPRCNT
                    - WAPTOPREVWAPRICE
                    - CLOSEPRICE
                    - MARKETPRICETODAY
                    - MARKETPRICE
                    - LASTTOPREVPRICE
                    - NUMTRADES
                    - VOLTODAY
                    - VALTODAY
                    - VALTODAY_USD
                    - ETFSETTLEPRICE
                    - TRADINGSTATUS
                    - UPDATETIME
                    - LASTBID
                    - LASTOFFER
                    - LCLOSEPRICE
                    - LCURRENTPRICE
                    - MARKETPRICE2
                    - NUMBIDS
                    - NUMOFFERS
                    - CHANGE
                    - TIME
                    - HIGHBID
                    - LOWOFFER
                    - PRICEMINUSPREVWAPRICE
                    - OPENPERIODPRICE
                    - SEQNUM
                    - SYSTIME
                    - CLOSINGAUCTIONPRICE
                    - CLOSINGAUCTIONVOLUME
                    - ISSUECAPITALIZATION
                    - ISSUECAPITALIZATION_UPDATETIME
                    - ETFSETTLECURRENCY
                    - VALTODAY_RUR
                    - TRADINGSESSION
                    - TRENDISSUECAPITALIZATION
                  data:
                    - [SBER, TQBR, null, 0, null, 0, 0, 0, 0, 298.07, 297.82, 299.39, 299.04, 0.01, 0, 20, 5980.80, 76.45, 298.77, 1.41, 0.38, 1.14, null, 298.71, 297.66, 0.35, 48892, 7607473, 2272887302, 29055135, null, N, "23:50:18", 299.02, 299.04, 299.19, 298.95, 298.71, 0, 0, 1.04, "23:49:57", 311.1, 287.04, 1.41, 298.07, 20260109235038, "2026-01-09 23:50:38", 299.19, 4210, 6455360929920, "23:49:57", null, 2272887302, null, 0]
                dataversion:
                  metadata:
                    data_version: { type: int32 }
                    seqnum: { type: int64 }
                    trade_date: { type: date, bytes: 10, max_size: 0 }
                    trade_session_date: { type: date, bytes: 10, max_size: 0 }
                  columns:
                    - data_version
                    - seqnum
                    - trade_date
                    - trade_session_date
                  data:
                    - [8756, 20260109235039, "2026-01-09", "2026-01-09"]
                marketdata_yields:
                  metadata:
                    boardid: { type: string, bytes: 12, max_size: 0 }
                    secid: { type: string, bytes: 36, max_size: 0 }
                  columns:
                    - boardid
                    - secid
                  data: []
        '401':
          description: Unauthorized
        

  /iss/engines/stock/markets/shares/boards/tqbr/securities/{ticker}/orderbook.json:
    get:
      tags:
        - Real-time market data - Акции
      summary: Стакан котировок по инструменту
      operationId: getShareOrderbook
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Код ценной бумаги, например 'SBER'
      security:
        - bearerAuth: []
      description: |-
        Стакан котировок по одному указанному инструменту.

        20 уровней Buy, 20 уровней Sell

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time стакан                   |
        | NOT AUTHORIZED   | iss    | Информация доступна только подписчикам |

        [Описание метрик](/docs/description/realtime#orderbook)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderbookResponse'
              example:
                orderbook:
                  metadata:
                    BOARDID:
                      type: string
                      bytes: 12
                      max_size: 0
                    SECID:
                      type: string
                      bytes: 36
                      max_size: 0
                    BUYSELL:
                      type: string
                      bytes: 3
                      max_size: 0
                    PRICE:
                      type: double
                    QUANTITY:
                      type: int64
                    SEQNUM:
                      type: int64
                    UPDATETIME:
                      type: time
                      bytes: 10
                      max_size: 0
                    DECIMALS:
                      type: int32
                  columns:
                    - BOARDID
                    - SECID
                    - BUYSELL
                    - PRICE
                    - QUANTITY
                    - SEQNUM
                    - UPDATETIME
                    - DECIMALS
                  data:
                    - ["TQBR", "SBER", "B", 298.89, 1510, 20260112092256, "09:22:56", 2]
                    - ["TQBR", "SBER", "B", 298.9, 2697, 20260112092256, "09:22:56", 2]
                    - ["TQBR", "SBER", "B", 298.91, 3036, 20260112092256, "09:22:56", 2]
                    - ["TQBR", "SBER", "B", 298.92, 5793, 20260112092256, "09:22:56", 2]
                    - ["TQBR", "SBER", "B", 298.93, 2593, 20260112092256, "09:22:56", 2]
                dataversion:
                  metadata:
                    data_version:
                      type: int32
                    seqnum:
                      type: int64
                    trade_date:
                      type: date
                      bytes: 10
                      max_size: 0
                    trade_session_date:
                      type: date
                      bytes: 10
                      max_size: 0
                  columns:
                    - data_version
                    - seqnum
                    - trade_date
                    - trade_session_date
                  data:
                    - [8757, 20260112092255, "2026-01-12", "2026-01-12"]
        '401':
          description: Unauthorized
        

  /iss/engines/stock/markets/shares/boards/tqbr/securities/{ticker}/trades.json:
    get:
      tags:
        - Real-time market data - Акции
      summary: Все сделки по инструменту
      operationId: getShareTrades
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Код ценной бумаги, например 'SBER'
        - name: tradeno
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: Получить сделки, которые идут начиная с указанного номера
      security:
        - bearerAuth: []
      description: |-
        Все сделки по одному выбранному инструменту за текущий торговый день.

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time сделки                   |
        | NOT AUTHORIZED   | iss    | 15 мин. задержанные данные         |

        [Описание метрик](/docs/description/realtime#trades)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradesResponse'
              example:
                trades:
                  metadata:
                    TRADENO:
                      type: int64
                    TRADETIME:
                      type: time
                      bytes: 10
                      max_size: 0
                    BOARDID:
                      type: string
                      bytes: 12
                      max_size: 0
                    SECID:
                      type: string
                      bytes: 36
                      max_size: 0
                    PRICE:
                      type: double
                    QUANTITY:
                      type: int64
                    VALUE:
                      type: double
                    PERIOD:
                      type: string
                      bytes: 3
                      max_size: 0
                    TRADETIME_GRP:
                      type: int32
                    SYSTIME:
                      type: datetime
                      bytes: 19
                      max_size: 0
                    BUYSELL:
                      type: string
                      bytes: 3
                      max_size: 0
                    DECIMALS:
                      type: int32
                    TRADINGSESSION:
                      type: string
                      bytes: 3
                      max_size: 0
                    TRADEDATE:
                      type: date
                      bytes: 10
                      max_size: 0
                    TRADE_SESSION_DATE:
                      type: date
                      bytes: 10
                      max_size: 0
                  columns:
                    - TRADENO
                    - TRADETIME
                    - BOARDID
                    - SECID
                    - PRICE
                    - QUANTITY
                    - VALUE
                    - PERIOD
                    - TRADETIME_GRP
                    - SYSTIME
                    - BUYSELL
                    - DECIMALS
                    - TRADINGSESSION
                    - TRADEDATE
                    - TRADE_SESSION_DATE
                  data:
                    - [15195661254, "06:59:41", "TQBR", "SBER", 299.15, 1, 299.15, "S", 659, "2026-01-12 06:59:42", "S", 2, "0", "2026-01-12", "2026-01-12"]
                    - [15195661255, "06:59:41", "TQBR", "SBER", 299.15, 5, 1495.75, "S", 659, "2026-01-12 06:59:42", "B", 2, "0", "2026-01-12", "2026-01-12"]
                    - [15195661256, "06:59:41", "TQBR", "SBER", 299.15, 15, 4487.25, "S", 659, "2026-01-12 06:59:42", "B", 2, "0", "2026-01-12", "2026-01-12"]
                    - [15195661257, "06:59:41", "TQBR", "SBER", 299.15, 2, 598.3, "S", 659, "2026-01-12 06:59:42", "B", 2, "0", "2026-01-12", "2026-01-12"]
                    - [15195661258, "06:59:41", "TQBR", "SBER", 299.15, 158, 47265.7, "S", 659, "2026-01-12 06:59:42", "S", 2, "0", "2026-01-12", "2026-01-12"]
                dataversion:
                  metadata:
                    data_version:
                      type: int32
                    seqnum:
                      type: int64
                    trade_date:
                      type: date
                      bytes: 10
                      max_size: 0
                    trade_session_date:
                      type: date
                      bytes: 10
                      max_size: 0
                  columns:
                    - data_version
                    - seqnum
                    - trade_date
                    - trade_session_date
                  data:
                    - [8757, 20260112092341, "2026-01-12", "2026-01-12"]
                trades_yields:
                  metadata:
                    boardid:
                      type: string
                      bytes: 12
                      max_size: 0
                    secid:
                      type: string
                      bytes: 36
                      max_size: 0
                  columns:
                    - boardid
                    - secid
                  data: []
        '401':
          description: Unauthorized
        

  /iss/engines/futures/markets/forts/boards/rfud/securities.json:
    get:
      tags:
        - Real-time market data - Фьючерсы
      summary: Торговая статистика по фьючерсам за сегодня
      operationId: getAllFuturesStatistics
      parameters:
        - name: start
          in: query
          schema:
            type: integer
            default: 0
          description: Starting index for pagination.
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
          description: Number of records to return.
      security:
        - bearerAuth: []
      description: |-
        Торговая статистика по всем фьючерсам на текущий день.

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time торговая статистика      |
        | NOT AUTHORIZED   | iss    | 15 мин. задержанные данные и ограниченный набор полей |

        Блоки данных:
          * securities - торговые параметры фьючерсов (наименование, шаг цены, лотность, ...)
          * marketdata - торговая статистика по фьючерсам (цены, объемы, ...)
                
        [Описание метрик](/docs/description/realtime#marketstatistics-1) 
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuturesMarketStatisticsResponse'
              example:
                securities:
                  metadata:
                    SECID: { type: string, bytes: 36, max_size: 0 }
                    BOARDID: { type: string, bytes: 12, max_size: 0 }
                    SHORTNAME: { type: string, bytes: 75, max_size: 0 }
                    SECNAME: { type: string, bytes: 225, max_size: 0 }
                    PREVSETTLEPRICE: { type: double }
                    DECIMALS: { type: int32 }
                    MINSTEP: { type: double }
                    LASTTRADEDATE: { type: date, bytes: 10, max_size: 0 }
                    LASTDELDATE: { type: date, bytes: 10, max_size: 0 }
                    SECTYPE: { type: string, bytes: 6, max_size: 0 }
                    LATNAME: { type: string, bytes: 90, max_size: 0 }
                    ASSETCODE: { type: string, bytes: 75, max_size: 0 }
                    PREVOPENPOSITION: { type: int64 }
                    LOTVOLUME: { type: int32 }
                    INITIALMARGIN: { type: double }
                    HIGHLIMIT: { type: double }
                    LOWLIMIT: { type: double }
                    STEPPRICE: { type: double }
                    LASTSETTLEPRICE: { type: double }
                    PREVPRICE: { type: double }
                    IMTIME: { type: datetime, bytes: 19, max_size: 0 }
                    BUYSELLFEE: { type: double }
                    SCALPERFEE: { type: double }
                    NEGOTIATEDFEE: { type: double }
                    EXERCISEFEE: { type: double }
                  columns:
                    - SECID
                    - BOARDID
                    - SHORTNAME
                    - SECNAME
                    - PREVSETTLEPRICE
                    - DECIMALS
                    - MINSTEP
                    - LASTTRADEDATE
                    - LASTDELDATE
                    - SECTYPE
                    - LATNAME
                    - ASSETCODE
                    - PREVOPENPOSITION
                    - LOTVOLUME
                    - INITIALMARGIN
                    - HIGHLIMIT
                    - LOWLIMIT
                    - STEPPRICE
                    - LASTSETTLEPRICE
                    - PREVPRICE
                    - IMTIME
                    - BUYSELLFEE
                    - SCALPERFEE
                    - NEGOTIATEDFEE
                    - EXERCISEFEE
                  data:
                    - ["AAH6", "RFUD", "AFRICA-3.26", "Фьючерсный контракт AFRICA-3.26", 71.26, 2, 0.01000, "2026-03-20", "2026-03-20", "AA", "AFRICA-3.26", "AFRICA", 526, 1, 774.74, 75.52000, 67.00000, 0.78227, 71.26, 71.26, "2026-01-09 18:59:33", 1.10, 0.55, 0.37, 0.37]
                    - ["AAM6", "RFUD", "AFRICA-6.26", "Фьючерсный контракт AFRICA-6.26", 71.79, 2, 0.01000, "2026-06-19", "2026-06-19", "AA", "AFRICA-6.26", "AFRICA", 18, 1, 733.83, 75.85000, 67.73000, 0.78227, 71.79, 0, "2026-01-09 18:59:33", 1.11, 0.56, 0.37, 0.37]
                    - ["AEH6", "RFUD", "AED-3.26", "Фьючерсный контракт AED-3.26", 21.783, 3, 0.00100, "2026-03-19", "2026-03-19", "AE", "AED-3.26", "AED", 418, 1000, 3513.26, 23.69700, 19.86900, 1.00000, 21.783, 21.83, "2026-01-09 18:59:33", 1.01, 0.51, 0.33, 0.34]
                    - ["AEM6", "RFUD", "AED-6.26", "Фьючерсный контракт AED-6.26", 22.639, 3, 0.00100, "2026-06-18", "2026-06-18", "AE", "AED-6.26", "AED", 74, 1000, 3561.94, 24.57600, 20.70200, 1.00000, 22.639, 0, "2026-01-09 18:59:33", 1.04, 0.52, 0.35, 0.35]
                    - ["AFH6", "RFUD", "AFLT-3.26", "Фьючерсный контракт AFLT-3.26", 5897, 0, 1.00000, "2026-03-19", "2026-03-20", "AF", "AFLT-3.26", "AFLT", 87194, 100, 1555.40, 6662.00000, 5132.00000, 1.00000, 5897, 5908, "2026-01-09 18:59:33", 1.17, 0.59, 0.39, 0.00]
                dataversion:
                  metadata:
                    data_version: { type: int32 }
                    seqnum: { type: int64 }
                    trade_date: { type: date, bytes: 10, max_size: 0 }
                    trade_session_date: { type: date, bytes: 10, max_size: 0 }
                  columns:
                    - data_version
                    - seqnum
                    - trade_date
                    - trade_session_date
                  data:
                    - [12666, 20260110004627, "2026-01-12", "2026-01-12"]
                marketdata_yields:
                  metadata:
                    boardid: { type: string, bytes: 12, max_size: 0 }
                    secid: { type: string, bytes: 36, max_size: 0 }
                  columns:
                    - boardid
                    - secid
                  data: []
        '401':
          description: Unauthorized
        

  /iss/engines/futures/markets/forts/boards/rfud/securities/{ticker}.json:
    get:
      tags:
        - Real-time market data - Фьючерсы
      summary: Торговая статистика за сегодня (один инструмент)
      operationId: getFuturesStatistics
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Короткий код фьючерса, например 'SiH5'
      security:
        - bearerAuth: []
      description: |-
        Торговая статистика по одному выбранному фьючерсному контракту на текущий день.

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time торговая статистика      |
        | NOT AUTHORIZED   | iss    | 15 мин. задержанные данные и ограниченный набор полей |

        Блоки данных:
          * securities - торговые параметры фьючерсов (наименование, шаг цены, лотность, ...)
          * marketdata - торговая статистика по фьючерсам (цены, объемы, ...)

        [Описание метрик](/docs/description/realtime#marketstatistics-1)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuturesMarketStatisticsResponse'
              example:
                securities:
                  metadata:
                    SECID:
                      type: string
                      bytes: 36
                      max_size: 0
                    BOARDID:
                      type: string
                      bytes: 12
                      max_size: 0
                    SHORTNAME:
                      type: string
                      bytes: 75
                      max_size: 0
                    SECNAME:
                      type: string
                      bytes: 225
                      max_size: 0
                    PREVSETTLEPRICE:
                      type: double
                    DECIMALS:
                      type: int32
                    MINSTEP:
                      type: double
                    LASTTRADEDATE:
                      type: date
                      bytes: 10
                      max_size: 0
                    LASTDELDATE:
                      type: date
                      bytes: 10
                      max_size: 0
                    SECTYPE:
                      type: string
                      bytes: 6
                      max_size: 0
                    LATNAME:
                      type: string
                      bytes: 90
                      max_size: 0
                    ASSETCODE:
                      type: string
                      bytes: 75
                      max_size: 0
                    PREVOPENPOSITION:
                      type: int64
                    LOTVOLUME:
                      type: int32
                    INITIALMARGIN:
                      type: double
                    HIGHLIMIT:
                      type: double
                    LOWLIMIT:
                      type: double
                    STEPPRICE:
                      type: double
                    LASTSETTLEPRICE:
                      type: double
                    PREVPRICE:
                      type: double
                    IMTIME:
                      type: datetime
                      bytes: 19
                      max_size: 0
                    BUYSELLFEE:
                      type: double
                    SCALPERFEE:
                      type: double
                    NEGOTIATEDFEE:
                      type: double
                    EXERCISEFEE:
                      type: double
                  columns:
                    - SECID
                    - BOARDID
                    - SHORTNAME
                    - SECNAME
                    - PREVSETTLEPRICE
                    - DECIMALS
                    - MINSTEP
                    - LASTTRADEDATE
                    - LASTDELDATE
                    - SECTYPE
                    - LATNAME
                    - ASSETCODE
                    - PREVOPENPOSITION
                    - LOTVOLUME
                    - INITIALMARGIN
                    - HIGHLIMIT
                    - LOWLIMIT
                    - STEPPRICE
                    - LASTSETTLEPRICE
                    - PREVPRICE
                    - IMTIME
                    - BUYSELLFEE
                    - SCALPERFEE
                    - NEGOTIATEDFEE
                    - EXERCISEFEE
                  data:
                    [
                      "ZCM6",
                      "RFUD",
                      "ZINC-6.26",
                      "Фьючерсный контракт ZINC-6.26",
                      3301.5,
                      1,
                      0.50000,
                      "2026-06-16",
                      "2026-06-16",
                      "ZC",
                      "ZINC-6.26",
                      "ZINC",
                      88,
                      100,
                      3476.17,
                      3491.00000,
                      3112.00000,
                      3.91134,
                      3301.5,
                      3301.5,
                      "2026-01-09 18:59:33",
                      3.41,
                      1.71,
                      1.13,
                      1.14
                    ]
                marketdata:
                  metadata:
                    SECID:
                      type: string
                      bytes: 36
                      max_size: 0
                    BOARDID:
                      type: string
                      bytes: 12
                      max_size: 0
                    BID:
                      type: double
                    OFFER:
                      type: double
                    SPREAD:
                      type: double
                    OPEN:
                      type: double
                    HIGH:
                      type: double
                    LOW:
                      type: double
                    LAST:
                      type: double
                    QUANTITY:
                      type: int32
                    LASTCHANGE:
                      type: double
                    SETTLEPRICE:
                      type: double
                    SETTLETOPREVSETTLE:
                      type: double
                    OPENPOSITION:
                      type: double
                    NUMTRADES:
                      type: int32
                    VOLTODAY:
                      type: int64
                    VALTODAY:
                      type: int64
                    VALTODAY_USD:
                      type: int64
                    UPDATETIME:
                      type: time
                      bytes: 10
                      max_size: 0
                    LASTCHANGEPRCNT:
                      type: double
                    BIDDEPTH:
                      type: int64
                    BIDDEPTHT:
                      type: int64
                    NUMBIDS:
                      type: int32
                    OFFERDEPTH:
                      type: int64
                    OFFERDEPTHT:
                      type: int64
                    NUMOFFERS:
                      type: int32
                    TIME:
                      type: time
                      bytes: 10
                      max_size: 0
                    SETTLETOPREVSETTLEPRC:
                      type: double
                    SEQNUM:
                      type: int64
                    SYSTIME:
                      type: datetime
                      bytes: 19
                      max_size: 0
                    TRADEDATE:
                      type: date
                      bytes: 10
                      max_size: 0
                    LASTTOPREVPRICE:
                      type: double
                    OICHANGE:
                      type: int64
                    OPENPERIODPRICE:
                      type: double
                    SWAPRATE:
                      type: double
                    TRADE_SESSION_DATE:
                      type: date
                      bytes: 10
                      max_size: 0
                  columns:
                    - SECID
                    - BOARDID
                    - BID
                    - OFFER
                    - SPREAD
                    - OPEN
                    - HIGH
                    - LOW
                    - LAST
                    - QUANTITY
                    - LASTCHANGE
                    - SETTLEPRICE
                    - SETTLETOPREVSETTLE
                    - OPENPOSITION
                    - NUMTRADES
                    - VOLTODAY
                    - VALTODAY
                    - VALTODAY_USD
                    - UPDATETIME
                    - LASTCHANGEPRCNT
                    - BIDDEPTH
                    - BIDDEPTHT
                    - NUMBIDS
                    - OFFERDEPTH
                    - OFFERDEPTHT
                    - NUMOFFERS
                    - TIME
                    - SETTLETOPREVSETTLEPRC
                    - SEQNUM
                    - SYSTIME
                    - TRADEDATE
                    - LASTTOPREVPRICE
                    - OICHANGE
                    - OPENPERIODPRICE
                    - SWAPRATE
                    - TRADE_SESSION_DATE
                  data:
                    [
                      "ZCM6",
                      "RFUD",
                      3253.5,
                      3405,
                      151.5,
                      0,
                      0,
                      0,
                      0,
                      0,
                      0,
                      3253.5,
                      -48,
                      88,
                      0,
                      0,
                      0,
                      0,
                      "00:45:41",
                      0,
                      2,
                      29,
                      10,
                      1,
                      46,
                      6,
                      "00:45:41",
                      -1.48,
                      20260110004627,
                      "2026-01-10 00:46:27",
                      null,
                      null,
                      0,
                      0.00000,
                      0.00000,
                      "2026-01-12"
                    ]
                dataversion:
                  metadata:
                    data_version:
                      type: int32
                    seqnum:
                      type: int64
                    trade_date:
                      type: date
                      bytes: 10
                      max_size: 0
                    trade_session_date:
                      type: date
                      bytes: 10
                      max_size: 0
                  columns:
                    - data_version
                    - seqnum
                    - trade_date
                    - trade_session_date
                  data:
                    [
                      [
                        12666,
                        20260110004627,
                        "2026-01-12",
                        "2026-01-12"
                      ]
                    ]
                marketdata_yields:
                  metadata:
                    boardid:
                      type: string
                      bytes: 12
                      max_size: 0
                    secid:
                      type: string
                      bytes: 36
                      max_size: 0
                  columns:
                    - boardid
                    - secid
                  data: []
        '401':
          description: Unauthorized
        

  /iss/engines/futures/markets/forts/boards/rfud/securities/{ticker}/candles.json:
    get:
      tags:
        - Real-time market data - Фьючерсы
      summary: Свечи по инструменту
      operationId: getFuturesCandles
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Короткий код фьючерса, например 'SiH5'
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Начало периода (ISO 8601)
        - name: till
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Окончание периода (ISO 8601)
        - name: interval
          in: query
          required: false
          schema:
            type: integer
            enum: [1, 10, 60, 24, 7, 31, 4]
          description: Интервал свечи (1-мин, 10-мин, 60-мин, 24-день, 7-неделя, 31-месяц, 4-квартал)
      security:
        - bearerAuth: []
      description: |-
        Свечи OHLCV по одному выбранному фьючерсному контракту.

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time свечи                    |
        | NOT AUTHORIZED   | iss    | 15 мин. задержанные данные         |

        [Описание метрик](/docs/description/realtime#candles-1)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandlesResponse'
              example:
                candles:
                  metadata:
                    open: { type: "double" }
                    close: { type: "double" }
                    high: { type: "double" }
                    low: { type: "double" }
                    value: { type: "int64" }
                    volume: { type: "double" }
                    begin: { type: "datetime", bytes: 19, max_size: 0 }
                    end: { type: "datetime", bytes: 19, max_size: 0 }
                  columns:
                    - "open"
                    - "close"
                    - "high"
                    - "low"
                    - "value"
                    - "volume"
                    - "begin"
                    - "end"
                  data:
                    - [3141.5, 3141.5, 3141.5, 3141.5, 0, 1, "2025-12-22 12:40:00", "2025-12-22 12:42:01"]
                    - [3176, 3176, 3176, 3176, 0, 1, "2025-12-23 13:50:00", "2025-12-23 13:56:21"]
                    - [3159, 3159, 3159, 3159, 0, 1, "2025-12-24 11:40:00", "2025-12-24 11:44:01"]
                    - [3181.5, 3271.5, 3271.5, 3181.5, 0, 12, "2025-12-26 09:30:00", "2025-12-26 09:39:59"]
                    - [3197, 3197, 3197, 3197, 0, 2, "2025-12-26 09:40:00", "2025-12-26 09:45:21"]
        '401':
          description: Unauthorized
        

  /iss/engines/futures/markets/forts/boards/rfud/securities/{ticker}/orderbook.json:
    get:
      tags:
        - Real-time market data - Фьючерсы
      summary: Стакан котировок по инструменту
      operationId: getFuturesOrderbook
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Короткий код фьючерса, например 'SiH5'
      description: |-
        Стакан котировок по одному указанному фьючерсному контракту.

        20 уровней Buy, 20 уровней Sell

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time стакан                   |
        | NOT AUTHORIZED   | iss    | Информация доступна только подписчикам |
       
        [Описание метрик](/docs/description/realtime#orderbook-1)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderbookResponse'
              example:
                orderbook:
                  metadata:
                    BOARDID:
                      type: string
                      bytes: 12
                      max_size: 0
                    SECID:
                      type: string
                      bytes: 12
                      max_size: 0
                    BUYSELL:
                      type: string
                      bytes: 3
                      max_size: 0
                    PRICE:
                      type: int64
                    QUANTITY:
                      type: int64
                    SEQNUM:
                      type: int64
                    UPDATETIME:
                      type: time
                      bytes: 10
                      max_size: 0
                    DECIMALS:
                      type: int64
                  columns:
                    - BOARDID
                    - SECID
                    - BUYSELL
                    - PRICE
                    - QUANTITY
                    - SEQNUM
                    - UPDATETIME
                    - DECIMALS
                  data:
                    - ["RFUD", "SiH6", "B", 79623, 13, 20260112092649, "09:26:48", 0]
                    - ["RFUD", "SiH6", "B", 79624, 12, 20260112092649, "09:26:48", 0]
                    - ["RFUD", "SiH6", "B", 79625, 31, 20260112092649, "09:26:48", 0]
                    - ["RFUD", "SiH6", "B", 79626, 4, 20260112092649, "09:26:48", 0]
                    - ["RFUD", "SiH6", "B", 79627, 4, 20260112092649, "09:26:48", 0]
                dataversion:
                  metadata:
                    data_version:
                      type: int32
                    seqnum:
                      type: int64
                    trade_date:
                      type: date
                      bytes: 10
                      max_size: 0
                    trade_session_date:
                      type: date
                      bytes: 10
                      max_size: 0
                  columns:
                    - data_version
                    - seqnum
                    - trade_date
                    - trade_session_date
                  data:
                    - [12668, 20260112092655, "2026-01-12", "2026-01-12"]
        '401':
          description: Unauthorized
        

  /iss/engines/futures/markets/forts/boards/rfud/securities/{ticker}/trades.json:
    get:
      tags:
        - Real-time market data - Фьючерсы
      summary: Все сделки по инструменту
      operationId: getFuturesTrades
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Короткий код фьючерса, например 'SiH5'
        - name: tradeno
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: Получить сделки, которые идут начиная с указанного номера
      security:
        - bearerAuth: []
      description: |-
        Все сделки по одному выбранному фьючерсному контракту за текущий торговый день.

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time сделки                   |
        | NOT AUTHORIZED   | iss    | Информация доступна только подписчикам |

        [Описание метрик](/docs/description/realtime#trades-1)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuturesTradesResponse'
        '401':
          description: Unauthorized
        

  # Super Candles - Акции
  /iss/datashop/algopack/eq/tradestats.json:
    get:
      tags:
        - Super Candles - Акции
      summary: Акции, tradestats
      operationId: getEqTradestats
      parameters:
        - name: date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Дата торгов (YYYY-MM-DD)
        - name: latest
          in: query
          required: false
          schema:
            type: integer
            enum: [0, 1]
            default: 0
          description: Флаг latest=1 возвращает последнюю пятиминутку за указанную дату
        - name: start
          in: query
          schema:
            type: integer
            default: 0
          description: Starting index for pagination.
        - name: limit
          in: query
          schema:
            type: integer
            default: 1000
            maximum: 1000
          description: Number of records to return.
      description: |-
        Метрики рассчитанные на основе потока сделок (tradestats).

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | iss    | Информация доступна только подписчикам |

        [Описание метрик](/docs/description/supercandles#tradestats) | [Методология расчета](/docs/method/supercandles#tradestats) 
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperCandlesResponse'
              example:
                data:
                  metadata:
                    tradedate: { type: "date", bytes: 10, max_size: 0 }
                    tradetime: { type: "time", bytes: 10, max_size: 0 }
                    secid: { type: "string", bytes: 36, max_size: 0 }
                    pr_open: { type: "double" }
                    pr_high: { type: "double" }
                    pr_low: { type: "double" }
                    pr_close: { type: "double" }
                    pr_std: { type: "double" }
                    vol: { type: "int32" }
                    val: { type: "double" }
                    trades: { type: "int32" }
                    pr_vwap: { type: "double" }
                    pr_change: { type: "double" }
                    trades_b: { type: "int32" }
                    trades_s: { type: "int32" }
                    val_b: { type: "double" }
                    val_s: { type: "double" }
                    vol_b: { type: "int64" }
                    vol_s: { type: "int64" }
                    disb: { type: "double" }
                    pr_vwap_b: { type: "double" }
                    pr_vwap_s: { type: "double" }
                    SYSTIME: { type: "datetime", bytes: 19, max_size: 0 }
                    sec_pr_open: { type: "int32" }
                    sec_pr_high: { type: "int32" }
                    sec_pr_low: { type: "int32" }
                    sec_pr_close: { type: "int32" }
                  columns:
                    - tradedate
                    - tradetime
                    - secid
                    - pr_open
                    - pr_high
                    - pr_low
                    - pr_close
                    - pr_std
                    - vol
                    - val
                    - trades
                    - pr_vwap
                    - pr_change
                    - trades_b
                    - trades_s
                    - val_b
                    - val_s
                    - vol_b
                    - vol_s
                    - disb
                    - pr_vwap_b
                    - pr_vwap_s
                    - SYSTIME
                    - sec_pr_open
                    - sec_pr_high
                    - sec_pr_low
                    - sec_pr_close
                  data:
                    - ["2026-01-09", "07:00:00", "AFKS", 12.766, 12.766, 12.766, 12.766, 0, 25, 31915, 4, 12.766, 0, 0, 4, 0, 31915, 0, 25, -1, null, 12.766, "2026-01-09 07:00:10", 285, 285, 285, 285]
                    - ["2026-01-09", "07:00:00", "AFLT", 56.58, 56.58, 56.58, 56.58, 0, 165, 93357, 12, 56.58, 0, 2, 10, 69593, 23764, 123, 42, 0.49, 56.58, 56.58, "2026-01-09 07:00:10", 288, 288, 288, 288]
                    - ["2026-01-09", "07:00:00", "ALRS", 40.71, 40.71, 40.71, 40.71, 0, 6, 2443, 4, 40.71, 0, 0, 4, 0, 2443, 0, 6, -1, null, 40.71, "2026-01-09 07:00:10", 273, 273, 273, 273]
                    - ["2026-01-09", "07:00:00", "AQUA", 492.1, 492.1, 492.1, 492.1, 0, 5, 2460, 2, 492.1, 0, 2, 0, 2460, 0, 5, 0, 1, 492.1, null, "2026-01-09 07:00:10", 277, 277, 277, 277]
                    - ["2026-01-09", "07:00:00", "ASTR", 245.45, 245.45, 245.45, 245.45, 0, 7, 1718, 4, 245.45, 0, 4, 0, 1718, 0, 7, 0, 1, 245.45, null, "2026-01-09 07:00:10", 297, 297, 297, 297]
                data.cursor:
                  metadata:
                    INDEX: { type: "int64" }
                    TOTAL: { type: "int64" }
                    PAGESIZE: { type: "int64" }
                  columns:
                    - INDEX
                    - TOTAL
                    - PAGESIZE
                  data:
                    - [0, 28840, 1000]
                data.dates:
                  metadata:
                    from: { type: "date", bytes: 30, max_size: 0 }
                    till: { type: "date", bytes: 30, max_size: 0 }
                  columns:
                    - from
                    - till
                  data:
                    - ["2020-01-03", "2026-01-09"]
        '401':
          description: Unauthorized
        

  /iss/datashop/algopack/eq/tradestats/{ticker}.json:
    get:
      tags:
        - Super Candles - Акции
      summary: Акции, tradestats (один инструмент)
      operationId: getEqTradestatsForTicker
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Код ценной бумаги
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Дата начала периода (YYYY-MM-DD)
        - name: till
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Дата окончания периода (YYYY-MM-DD)
        - name: latest
          in: query
          required: false
          schema:
            type: integer
            enum: [0, 1]
            default: 0
          description: Флаг latest=1 возвращает последнюю пятиминутку за указанный период
        - name: start
          in: query
          schema:
            type: integer
            default: 0
          description: Starting index for pagination.
      security:
        - bearerAuth: []
      description: |-
        Метрики рассчитанные на основе потока сделок (tradestats) по одному инструменту.

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | iss    | Информация доступна только подписчикам |

        [Описание метрик](/docs/description/supercandles#tradestats) | [Методология расчета](/docs/method/supercandles#tradestats) 
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperCandlesResponse'
              example:
                data:
                  metadata:
                    tradedate:
                      type: date
                      bytes: 10
                      max_size: 0
                    tradetime:
                      type: time
                      bytes: 10
                      max_size: 0
                    secid:
                      type: string
                      bytes: 36
                      max_size: 0
                    pr_open:
                      type: double
                    pr_high:
                      type: double
                    pr_low:
                      type: double
                    pr_close:
                      type: double
                    pr_std:
                      type: double
                    vol:
                      type: int32
                    val:
                      type: double
                    trades:
                      type: int32
                    pr_vwap:
                      type: double
                    pr_change:
                      type: double
                    trades_b:
                      type: int32
                    trades_s:
                      type: int32
                    val_b:
                      type: double
                    val_s:
                      type: double
                    vol_b:
                      type: int64
                    vol_s:
                      type: int64
                    disb:
                      type: double
                    pr_vwap_b:
                      type: double
                    pr_vwap_s:
                      type: double
                    SYSTIME:
                      type: datetime
                      bytes: 19
                      max_size: 0
                    sec_pr_open:
                      type: int32
                    sec_pr_high:
                      type: int32
                    sec_pr_low:
                      type: int32
                    sec_pr_close:
                      type: int32
                  columns:
                    - tradedate
                    - tradetime
                    - secid
                    - pr_open
                    - pr_high
                    - pr_low
                    - pr_close
                    - pr_std
                    - vol
                    - val
                    - trades
                    - pr_vwap
                    - pr_change
                    - trades_b
                    - trades_s
                    - val_b
                    - val_s
                    - vol_b
                    - vol_s
                    - disb
                    - pr_vwap_b
                    - pr_vwap_s
                    - SYSTIME
                    - sec_pr_open
                    - sec_pr_high
                    - sec_pr_low
                    - sec_pr_close
                  data:
                    - ["2026-01-09", "07:00:00", "SBER", 298.07, 298.07, 298.07, 298.07, 0, 3319, 989294, 35, 298.07, 0, 28, 7, 960680, 28615, 3223, 96, 0.94, 298.07, 298.07, "2026-01-09 07:00:10", 282, 282, 282, 282]
                    - ["2026-01-09", "07:05:00", "SBER", 298.07, 298.35, 298, 298.04, 0.0001, 79046, 23561913, 416, 298.08, -0.0101, 243, 173, 13518525, 10043388, 45347, 33699, 0.15, 298.11, 298.03, "2026-01-09 07:05:10", 1, 244, 1, 300]
                    - ["2026-01-09", "07:10:00", "SBER", 298.02, 298.42, 297.98, 298.41, 0.0001, 9991, 2979321, 132, 298.2, 0.1309, 78, 54, 1173980, 1805341, 3936, 6055, -0.21, 298.27, 298.16, "2026-01-09 07:10:10", 2, 295, 4, 300]
                    - ["2026-01-09", "07:15:00", "SBER", 298.41, 298.42, 298.22, 298.27, 0.0001, 40236, 12003520, 138, 298.33, -0.0469, 74, 64, 1639471, 10364049, 5496, 34740, -0.73, 298.3, 298.33, "2026-01-09 07:15:10", 1, 6, 38, 300]
                    - ["2026-01-09", "07:20:00", "SBER", 298.27, 298.27, 298.18, 298.21, 0, 14094, 4203141, 111, 298.22, -0.0201, 52, 59, 651674, 3551468, 2185, 11909, -0.69, 298.25, 298.22, "2026-01-09 07:20:10", 1, 1, 288, 300]
                data.cursor:
                  metadata:
                    INDEX:
                      type: int64
                    TOTAL:
                      type: int64
                    PAGESIZE:
                      type: int64
                  columns:
                    - INDEX
                    - TOTAL
                    - PAGESIZE
                  data:
                    - [0, 199, 1000]
                data.dates:
                  metadata:
                    from:
                      type: date
                      bytes: 30
                      max_size: 0
                    till:
                      type: date
                      bytes: 30
                      max_size: 0
                  columns:
                    - from
                    - till
                  data:
                    - ["2020-01-03", "2026-01-09"]
        '401':
          description: Unauthorized
        

  /iss/datashop/algopack/eq/obstats.json:
    get:
      tags:
        - Super Candles - Акции
      summary: Акции, obstats
      operationId: getEqObstats
      parameters:
        - name: date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Дата торгов (YYYY-MM-DD)
        - name: latest
          in: query
          required: false
          schema:
            type: integer
            enum: [0, 1]
            default: 0
          description: Флаг latest=1 возвращает последнюю пятиминутку за указанную дату
        - name: start
          in: query
          schema:
            type: integer
            default: 0
          description: Starting index for pagination.
      security:
        - bearerAuth: []
      description: |-
        Метрики рассчитанные на основе стакана котировок (obstats).

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | iss    | Информация доступна только подписчикам |

        [Описание метрик](/docs/description/supercandles#obstats) | [Методология расчета](/docs/method/supercandles#obstats) 
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperCandlesResponse'
              example:
                data:
                  metadata:
                    tradedate: { type: "date", bytes: 10, max_size: 0 }
                    tradetime: { type: "time", bytes: 10, max_size: 0 }
                    secid: { type: "string", bytes: 36, max_size: 0 }
                    spread_bbo: { type: "double" }
                    spread_lv10: { type: "double" }
                    spread_1mio: { type: "double" }
                    levels_b: { type: "int32" }
                    levels_s: { type: "int32" }
                    vol_b: { type: "int64" }
                    vol_s: { type: "int64" }
                    val_b: { type: "int64" }
                    val_s: { type: "int64" }
                    imbalance_vol_bbo: { type: "double" }
                    imbalance_val_bbo: { type: "double" }
                    imbalance_vol: { type: "double" }
                    imbalance_val: { type: "double" }
                    vwap_b: { type: "double" }
                    vwap_s: { type: "double" }
                    vwap_b_1mio: { type: "double" }
                    vwap_s_1mio: { type: "double" }
                    SYSTIME: { type: "datetime", bytes: 19, max_size: 0 }
                  columns:
                    - tradedate
                    - tradetime
                    - secid
                    - spread_bbo
                    - spread_lv10
                    - spread_1mio
                    - levels_b
                    - levels_s
                    - vol_b
                    - vol_s
                    - val_b
                    - val_s
                    - imbalance_vol_bbo
                    - imbalance_val_bbo
                    - imbalance_vol
                    - imbalance_val
                    - vwap_b
                    - vwap_s
                    - vwap_b_1mio
                    - vwap_s_1mio
                    - SYSTIME
                  data:
                    - ["2026-01-09", "07:05:00", "ABIO", 14.8, 71.1, 180.5, 92, 132, 4450, 7981, 2931985, 5649679, 0.72, 0.72, -0.3, -0.33, 65.87, 70.82, 67.11, 68.32, "2026-01-09 07:05:12"]
                    - ["2026-01-09", "07:05:00", "ABRD", 44.5, 307.1, 212.2, 47, 46, 2250, 3067, 3486318, 5073082, -0.38, -0.38, -0.16, -0.19, 154.7, 165.5, 157.6, 160.9, "2026-01-09 07:05:12"]
                    - ["2026-01-09", "07:05:00", "AFKS", 5.6, 43.6, 25.2, 260, 163, 31457, 34099, 39165974, 45254203, -0.47, -0.47, -0.04, -0.07, 12.449, 13.274, 12.745, 12.777, "2026-01-09 07:05:12"]
                    - ["2026-01-09", "07:05:00", "AFLT", 4.5, 43.9, 13.3, 251, 301, 210715, 167850, 115218046, 98786044, 0.3, 0.3, 0.11, 0.08, 54.68, 58.86, 56.68, 56.75, "2026-01-09 07:05:12"]
                    - ["2026-01-09", "07:05:00", "AKRN", 67.5, 244.4, 163.3, 34, 43, 233, 236, 4105073, 4358505, 0.74, 0.74, -0, -0.03, 17544, 18470, 17847, 18139, "2026-01-09 07:05:12"]
                data.cursor:
                  metadata:
                    INDEX: { type: "int64" }
                    TOTAL: { type: "int64" }
                    PAGESIZE: { type: "int64" }
                  columns:
                    - INDEX
                    - TOTAL
                    - PAGESIZE
                  data:
                    - [0, 49661, 1000]
                data.dates:
                  metadata:
                    from: { type: "date", bytes: 30, max_size: 0 }
                    till: { type: "date", bytes: 30, max_size: 0 }
                  columns:
                    - from
                    - till
                  data:
                    - ["2020-01-03", "2026-01-09"]
        '401':
          description: Unauthorized
        

  /iss/datashop/algopack/eq/obstats/{ticker}.json:
    get:
      tags:
        - Super Candles - Акции
      summary: Акции, obstats (один инструмент)
      operationId: getEqObstatsForTicker
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Код ценной бумаги
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Дата начала периода (YYYY-MM-DD)
        - name: till
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Дата окончания периода (YYYY-MM-DD)
        - name: latest
          in: query
          required: false
          schema:
            type: integer
            enum: [0, 1]
            default: 0
          description: Флаг latest=1 возвращает последнюю пятиминутку за указанный период
        - name: start
          in: query
          schema:
            type: integer
            default: 0
          description: Starting index for pagination.
      security:
        - bearerAuth: []
      description: |-
        Метрики рассчитанные на основе стакана котировок (obstats) по одному инструменту.

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | iss    | Информация доступна только подписчикам |

        [Описание метрик](/docs/description/supercandles#obstats) | [Методология расчета](/docs/method/supercandles#obstats) 
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperCandlesResponse'
              example:
                data:
                  metadata:
                    tradedate: { type: "date", bytes: 10, max_size: 0 }
                    tradetime: { type: "time", bytes: 10, max_size: 0 }
                    secid: { type: "string", bytes: 36, max_size: 0 }
                    spread_bbo: { type: "double" }
                    spread_lv10: { type: "double" }
                    spread_1mio: { type: "double" }
                    levels_b: { type: "int32" }
                    levels_s: { type: "int32" }
                    vol_b: { type: "int64" }
                    vol_s: { type: "int64" }
                    val_b: { type: "int64" }
                    val_s: { type: "int64" }
                    imbalance_vol_bbo: { type: "double" }
                    imbalance_val_bbo: { type: "double" }
                    imbalance_vol: { type: "double" }
                    imbalance_val: { type: "double" }
                    vwap_b: { type: "double" }
                    vwap_s: { type: "double" }
                    vwap_b_1mio: { type: "double" }
                    vwap_s_1mio: { type: "double" }
                    SYSTIME: { type: "datetime", bytes: 19, max_size: 0 }
                  columns:
                    - tradedate
                    - tradetime
                    - secid
                    - spread_bbo
                    - spread_lv10
                    - spread_1mio
                    - levels_b
                    - levels_s
                    - vol_b
                    - vol_s
                    - val_b
                    - val_s
                    - imbalance_vol_bbo
                    - imbalance_val_bbo
                    - imbalance_vol
                    - imbalance_val
                    - vwap_b
                    - vwap_s
                    - vwap_b_1mio
                    - vwap_s_1mio
                    - SYSTIME
                  data:
                    - ["2026-01-09", "07:05:00", "SBER", 1.2, 14.7, 2.8, 794, 1133, 1009308, 2763144, 293637577, 852747627, 0.05, 0.05, -0.46, -0.49, 290.93, 308.62, 298.06, 298.15, "2026-01-09 07:05:12"]
                    - ["2026-01-09", "07:10:00", "SBER", 0.5, 12.1, 3.6, 807, 1217, 1073773, 2885654, 312667002, 889565439, 0.74, 0.74, -0.46, -0.48, 291.18, 308.27, 298.22, 298.33, "2026-01-09 07:10:12"]
                    - ["2026-01-09", "07:15:00", "SBER", 1.3, 11, 2.6, 827, 1234, 1122889, 2991946, 327147834, 921662169, 0.02, 0.02, -0.45, -0.48, 291.34, 308.05, 298.27, 298.34, "2026-01-09 07:15:12"]
                    - ["2026-01-09", "07:20:00", "SBER", 0.4, 10, 1, 838, 1254, 1135800, 3046346, 330979373, 938095966, -0.49, -0.49, -0.46, -0.48, 291.41, 307.94, 298.22, 298.25, "2026-01-09 07:20:12"]
                    - ["2026-01-09", "07:25:00", "SBER", 0.7, 8.9, 1.8, 839, 1278, 1131364, 3055541, 329653266, 940884646, -0.65, -0.65, -0.46, -0.48, 291.38, 307.93, 298.16, 298.21, "2026-01-09 07:25:12"]
                data.cursor:
                  metadata:
                    INDEX: { type: "int64" }
                    TOTAL: { type: "int64" }
                    PAGESIZE: { type: "int64" }
                  columns:
                    - INDEX
                    - TOTAL
                    - PAGESIZE
                  data:
                    - [0, 197, 1000]
                data.dates:
                  metadata:
                    from: { type: "date", bytes: 30, max_size: 0 }
                    till: { type: "date", bytes: 30, max_size: 0 }
                  columns:
                    - from
                    - till
                  data:
                    - ["2020-01-03", "2026-01-09"]
        '401':
          description: Unauthorized
        

  /iss/datashop/algopack/eq/orderstats.json:
    get:
      tags:
        - Super Candles - Акции
      summary: Акции, orderstats
      operationId: getEqOrderstats
      parameters:
        - name: date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Дата торгов (YYYY-MM-DD)
        - name: latest
          in: query
          required: false
          schema:
            type: integer
            enum: [0, 1]
            default: 0
          description: Флаг latest=1 возвращает последнюю пятиминутку за указанную дату
        - name: start
          in: query
          schema:
            type: integer
            default: 0
          description: Starting index for pagination.
      security:
        - bearerAuth: []
      description: |-
        Метрики рассчитанные на основе потока заявок (orderstats).

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | iss    | Информация доступна только подписчикам |

        [Описание метрик](/docs/description/supercandles#orderstats) | [Методология расчета](/docs/method/supercandles#orderstats) 
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperCandlesResponse'
              example:
                data:
                  metadata:
                    tradedate: { type: "date", bytes: 10, max_size: 0 }
                    tradetime: { type: "time", bytes: 10, max_size: 0 }
                    secid: { type: "string", bytes: 36, max_size: 0 }
                    put_orders_b: { type: "int32" }
                    put_orders_s: { type: "int32" }
                    put_val_b: { type: "double" }
                    put_val_s: { type: "double" }
                    put_vol_b: { type: "int32" }
                    put_vol_s: { type: "int32" }
                    put_vwap_b: { type: "double" }
                    put_vwap_s: { type: "double" }
                    put_vol: { type: "int32" }
                    put_val: { type: "double" }
                    put_orders: { type: "int32" }
                    cancel_orders_b: { type: "int32" }
                    cancel_orders_s: { type: "int32" }
                    cancel_val_b: { type: "double" }
                    cancel_val_s: { type: "double" }
                    cancel_vol_b: { type: "int32" }
                    cancel_vol_s: { type: "int64" }
                    cancel_vwap_b: { type: "double" }
                    cancel_vwap_s: { type: "double" }
                    cancel_vol: { type: "int64" }
                    cancel_val: { type: "double" }
                    cancel_orders: { type: "int64" }
                    SYSTIME: { type: "datetime", bytes: 19, max_size: 0 }
                  columns:
                    - tradedate
                    - tradetime
                    - secid
                    - put_orders_b
                    - put_orders_s
                    - put_val_b
                    - put_val_s
                    - put_vol_b
                    - put_vol_s
                    - put_vwap_b
                    - put_vwap_s
                    - put_vol
                    - put_val
                    - put_orders
                    - cancel_orders_b
                    - cancel_orders_s
                    - cancel_val_b
                    - cancel_val_s
                    - cancel_vol_b
                    - cancel_vol_s
                    - cancel_vwap_b
                    - cancel_vwap_s
                    - cancel_vol
                    - cancel_val
                    - cancel_orders
                    - SYSTIME
                  data:
                    - ["2026-01-09", "06:55:00", "ABIO", 128, 217, 1145123, 3528281, 1743, 4919, 65.7, 71.73, 6662, 4673404, 345, 1, 2, 4063, 19087, 6, 27, 67.72, 70.69, 33, 23150, 3, "2026-01-09 06:55:11"]
                    - ["2026-01-09", "06:55:00", "ABRD", 125, 66, 1157190, 2923650, 755, 1748, 153.3, 167.3, 2503, 4080840, 191, 0, 2, 0, 36256, 0, 22, null, 164.8, 22, 36256, 2, "2026-01-09 06:55:11"]
                    - ["2026-01-09", "06:55:00", "AFKS", 452, 226, 19498532, 16956557, 15824, 12532, 12.322, 13.531, 28356, 36455089, 678, 18, 13, 1029901, 848473, 827, 646, 12.453, 13.134, 1473, 1878374, 31, "2026-01-09 06:55:11"]
                    - ["2026-01-09", "06:55:00", "AFLT", 598, 710, 74091292, 73351452, 135613, 124531, 54.63, 58.9, 260144, 147442744, 1308, 7, 7, 140941, 2031527, 251, 3571, 56.15, 56.89, 3822, 2172468, 14, "2026-01-09 06:55:11"]
                    - ["2026-01-09", "06:55:00", "AKRN", 32, 46, 1314018, 1433062, 75, 77, 17520, 18611, 152, 2747080, 78, 2, 2, 35560, 73360, 2, 4, 17780, 18340, 6, 108920, 4, "2026-01-09 06:55:11"]
                data.cursor:
                  metadata:
                    INDEX: { type: "int64" }
                    TOTAL: { type: "int64" }
                    PAGESIZE: { type: "int64" }
                  columns:
                    - INDEX
                    - TOTAL
                    - PAGESIZE
                  data:
                    - [0, 48132, 1000]
                data.dates:
                  metadata:
                    from: { type: "date", bytes: 30, max_size: 0 }
                    till: { type: "date", bytes: 30, max_size: 0 }
                  columns:
                    - from
                    - till
                  data:
                    - ["2020-01-03", "2026-01-09"]
        '401':
          description: Unauthorized
        

  /iss/datashop/algopack/eq/orderstats/{ticker}.json:
    get:
      tags:
        - Super Candles - Акции
      summary: Акции, orderstats (один инструмент)
      operationId: getEqOrderstatsForTicker
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Код ценной бумаги
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Дата начала периода (YYYY-MM-DD)
        - name: till
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Дата окончания периода (YYYY-MM-DD)
        - name: latest
          in: query
          required: false
          schema:
            type: integer
            enum: [0, 1]
            default: 0
          description: Флаг latest=1 возвращает последнюю пятиминутку за указанный период
        - name: start
          in: query
          schema:
            type: integer
            default: 0
          description: Starting index for pagination.
      security:
        - bearerAuth: []
      description: |-
        Метрики рассчитанные на основе потока заявок (orderstats) по одному инструменту.

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | iss    | Информация доступна только подписчикам |

        [Описание метрик](/docs/description/supercandles#orderstats) | [Методология расчета](/docs/method/supercandles#orderstats) 
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperCandlesResponse'
              example:
                data:
                  metadata:
                    tradedate: { type: "date", bytes: 10, max_size: 0 }
                    tradetime: { type: "time", bytes: 10, max_size: 0 }
                    secid: { type: "string", bytes: 36, max_size: 0 }
                    put_orders_b: { type: "int32" }
                    put_orders_s: { type: "int32" }
                    put_val_b: { type: "double" }
                    put_val_s: { type: "double" }
                    put_vol_b: { type: "int32" }
                    put_vol_s: { type: "int32" }
                    put_vwap_b: { type: "double" }
                    put_vwap_s: { type: "double" }
                    put_vol: { type: "int32" }
                    put_val: { type: "double" }
                    put_orders: { type: "int32" }
                    cancel_orders_b: { type: "int32" }
                    cancel_orders_s: { type: "int32" }
                    cancel_val_b: { type: "double" }
                    cancel_val_s: { type: "double" }
                    cancel_vol_b: { type: "int32" }
                    cancel_vol_s: { type: "int64" }
                    cancel_vwap_b: { type: "double" }
                    cancel_vwap_s: { type: "double" }
                    cancel_vol: { type: "int64" }
                    cancel_val: { type: "double" }
                    cancel_orders: { type: "int64" }
                    SYSTIME: { type: "datetime", bytes: 19, max_size: 0 }
                  columns:
                    - tradedate
                    - tradetime
                    - secid
                    - put_orders_b
                    - put_orders_s
                    - put_val_b
                    - put_val_s
                    - put_vol_b
                    - put_vol_s
                    - put_vwap_b
                    - put_vwap_s
                    - put_vol
                    - put_val
                    - put_orders
                    - cancel_orders_b
                    - cancel_orders_s
                    - cancel_val_b
                    - cancel_val_s
                    - cancel_vol_b
                    - cancel_vol_s
                    - cancel_vwap_b
                    - cancel_vwap_s
                    - cancel_vol
                    - cancel_val
                    - cancel_orders
                    - SYSTIME
                  data:
                    - ["2026-01-09", "06:55:00", "SBER", 3377, 3769, 224248683, 782948071, 773271, 2533935, 290, 308.99, 3307206, 1007196754, 7146, 21, 9, 1049245, 823425, 3637, 2707, 288.49, 304.18, 6344, 1872670, 30, "2026-01-09 06:55:11"]
                    - ["2026-01-09", "07:00:00", "SBER", 138, 91, 61137603, 34468747, 211637, 113390, 288.88, 303.98, 325027, 95606350, 229, 58, 10, 809600, 365903, 2753, 1203, 294.08, 304.16, 3956, 1175504, 68, "2026-01-09 07:00:11"]
                    - ["2026-01-09", "07:05:00", "SBER", 5979, 1338, 2734769639, 317898430, 9197380, 1066207, 297.34, 298.16, 10263587, 3052668070, 7317, 5499, 691, 2697059899, 251460800, 9063288, 842422, 297.58, 298.5, 9905710, 2948520699, 6190, "2026-01-09 07:05:11"]
                    - ["2026-01-09", "07:10:00", "SBER", 898, 576, 366464419, 303964825, 1232293, 1017239, 297.38, 298.81, 2249532, 670429244, 1474, 784, 429, 346815903, 255054369, 1164563, 853883, 297.81, 298.7, 2018446, 601870273, 1213, "2026-01-09 07:10:11"]
                    - ["2026-01-09", "07:15:00", "SBER", 745, 914, 434234056, 392967981, 1459001, 1329536, 297.62, 295.57, 2788537, 827202038, 1659, 620, 739, 418629327, 378558331, 1404750, 1267727, 298.01, 298.61, 2672477, 797187658, 1359, "2026-01-09 07:15:11"]
                data.cursor:
                  metadata:
                    INDEX: { type: "int64" }
                    TOTAL: { type: "int64" }
                    PAGESIZE: { type: "int64" }
                  columns:
                    - INDEX
                    - TOTAL
                    - PAGESIZE
                  data:
                    - [0, 204, 1000]
                data.dates:
                  metadata:
                    from: { type: "date", bytes: 30, max_size: 0 }
                    till: { type: "date", bytes: 30, max_size: 0 }
                  columns:
                    - from
                    - till
                  data:
                    - ["2020-01-03", "2026-01-09"]
        '401':
          description: Unauthorized
        

  # Super Candles - Фьючерсы
  /iss/datashop/algopack/fo/tradestats.json:
    get:
      tags:
        - Super Candles - Фьючерсы
      summary: Фьючерсы, tradestats
      operationId: getFoTradestats
      parameters:
        - name: date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Дата торгов (YYYY-MM-DD)
        - name: latest
          in: query
          required: false
          schema:
            type: integer
            enum: [0, 1]
            default: 0
          description: Флаг latest=1 возвращает последнюю пятиминутку за указанную дату
        - name: start
          in: query
          schema:
            type: integer
            default: 0
          description: Starting index for pagination.
      security:
        - bearerAuth: []
      description: |-
        Метрики рассчитанные на основе потока сделок (tradestats) по фьючерсам.

        | User Status      | Server | Response                           |
        | ---------------- | ------ | -----------------------------------|
        | AUTHORIZED       | apim   | Real-time данные (обновление каждые 5 мин) |
        | NOT AUTHORIZED   | iss    | Информация доступна только подписчикам |

        [Описание метрик](/docs/description/supercandles#tradestats-1) | [Методология расчета](/docs/method/supercandles#tradestats)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperCandlesResponse'
              example:
                data:
                  metadata:
                    tradedate: { type: "date", bytes: 10, max_size: 0 }
                    tradetime: { type: "time", bytes: 10, max_size: 0 }
                    secid: { type: "string", bytes: 51, max_size: 0 }
                    asset_code: { type: "string", bytes: 36, max_size: 0 }
                    pr_open: { type: "double" }
                    pr_high: { type: "double" }
                    pr_low: { type: "double" }
                    pr_close: { type: "double" }
                    pr_std: { type: "double" }
                    vol: { type: "int64" }
                    val: { type: "int64" }
                    trades: { type: "int32" }
                    pr_vwap: { type: "double" }
                    pr_change: { type: "double" }
                    trades_b: { type: "int32" }
                    trades_s: { type: "int32" }
                    val_b: { type: "double" }
                    val_s: { type: "double" }
                    vol_b: { type: "int64" }
                    vol_s: { type: "int64" }
                    disb: { type: "double" }
                    pr_vwap_b: { type: "double" }
                    pr_vwap_s: { type: "double" }
                    im: { type: "double" }
                    oi_open: { type: "int64" }
[...]
